@import '../../../styles/common';

.Avatar {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--decorative-surface-one);
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    padding: 6px 3px;
    font-size: 20px;
    line-height: 28px;
  }
}
.AvatarLarge {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--decorative-surface-two);
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    padding: 9px;
    font-size: 24px;
    line-height: 28px;
  }
}
