@use '../../../styles/common' as *;

.Wrapper {
  display: flex;
  gap: var(--space-2);
  justify-content: center;
  align-items: center;
}

.Avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius-full);
  background-color: var(--border-highlight-subdued);

  span {
    display: flex;
    padding: 6px 3px;
    font-size: var(--font-size-300);
    line-height: 28px;
  }

  img {
    width: 24px;
    height: 28px;
  }
}
.AvatarLarge {
  height: 60px;
  width: 60px;

  span {
    padding: 9px;
    font-size: var(--font-size-400);
  }

  img {
    width: 37px;
    height: 42px;
  }
}

.AvatarSmall {
  height: 32px;
  width: 32px;

  span {
    padding: 4.8px 1.8px;
    font-size: var(--font-size-100);
  }

  img {
    width: 20px;
    height: 22px;
  }
}

.AvatarExtraSmall {
  height: 24px;
  width: 24px;

  span {
    padding: 2px;
    font-size: var(--font-size-75);
  }

  img {
    width: 14px;
    height: 16px;
  }
}

.AvatarProfileMedium {
  img {
    height: 40px;
    width: 40px;
  }
}

.AvatarProfileLarge {
  img {
    height: 60px;
    width: 60px;
  }
}

.AvatarProfileSmall {
  img {
    height: 32px;
    width: 32px;
  }
}

.AvatarProfileExtraSmall {
  img {
    height: 24px;
    width: 24px;
  }
}
