@import '../../../styles/common';

.SelectorCard {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-3, 12px);
  max-width: 480px;
  width: 100%;
  border-radius: var(--border-radius-05, 2px);
  background: var(--surface-default, #fff);
  box-shadow: var(--shadow-element-card);
}

.PillWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
