@import '../../../styles/common';

@function progress-bar-height($height: base) {
  $base: 24px;
  $data: (
    small: $base * 0.5,
    base: $base,
    large: $base * 1.5,
  );

  @return map-get($data, $height);
}

$veryHighRisk: '#D41505';
$highRisk: '#FB8C35';
$mediumRisk: '#FFED6E';
$lowRisk: '#65A4BD';
$veryLowRisk: '#4575b4';

.sizeSmall {
  height: progress-bar-height(small);
}

.sizeMedium {
  height: progress-bar-height();
}

.sizeLarge {
  height: progress-bar-height(large);
}

.colorHighlight {
  --op-progress-bar-background: var(--surface-highlight-default);
  --op-progress-bar-indicator: var(--action-primary-basic-default);
}

.colorInteractive {
  --op-progress-bar-background: var(--surface-interactive);
  --op-progress-bar-indicator: var(--action-primary-interactive-default);
}

.colorSuccess {
  --op-progress-bar-background: var(--surface-success);
  --op-progress-bar-indicator: var(--action-primary-success-default);
}

.colorCritical {
  --op-progress-bar-background: var(--surface-critical);
  --op-progress-bar-indicator: var(--action-primary-critical-default);
}

.customColorVeryhighrisk {
  --op-progress-bar-background: #d416057a;
  --op-progress-bar-indicator: #D41505;
}

.customColorHighrisk {
  --op-progress-bar-background: #fb8b357a;
  --op-progress-bar-indicator: #FB8C35;
}

.customColorMediumrisk {
  --op-progress-bar-background: #ffee6e82;
  --op-progress-bar-indicator: #FFED6E;
}

.customColorLowrisk {
  --op-progress-bar-background: #65a4bd77;
  --op-progress-bar-indicator: #65A4BD;
}

.customColorVerylowrisk {
  --op-progress-bar-background: #4575b480;
  --op-progress-bar-indicator: #4575b4;
}

.Root {
  position: relative;
  overflow: hidden;
  background-color: var(--op-progress-bar-background);
  width: 100%;

  @media (forced-colors: active) {
    border: var(--border-width-1) solid transparent;
  }

  /* Fix overflow clipping in Safari */
  transform: translateZ(0);
}

.Indicator {
  background: var(--op-progress-bar-indicator);
  width: 100%;
  height: 100%;
  transition: transform var(--op-progress-bar-duration) var(--ease);
}
