@import '../../../styles/common';

@function progress-bar-height($height: base) {
  $base: 16px;
  $data: (
    small: $base * 0.5,
    base: $base,
    large: $base * 2,
  );

  @return map-get($data, $height);
}

.sizeSmall {
  height: progress-bar-height(small);
}

.sizeMedium {
  height: progress-bar-height();
}

.sizeLarge {
  height: progress-bar-height(large);
}

.colorHighlight {
  --op-progress-bar-background: var(--surface-neutral);
  --op-progress-bar-indicator: var(--border-highlight);
}

.colorPrimary {
  --op-progress-bar-background: var(--surface-neutral);
  --op-progress-bar-indicator: var(--action-primary);
}

.colorSuccess {
  --op-progress-bar-background: var(--surface-neutral);
  --op-progress-bar-indicator: var(--border-success);
}

.colorCritical {
  --op-progress-bar-background: var(--surface-neutral);
  --op-progress-bar-indicator: var(--interactive-critical);
}

.Root {
  position: relative;
  overflow: hidden;
  background-color: var(--op-progress-bar-background);
  border-radius: var(--border-radius-1);
  width: 100%;

  @media (forced-colors: active) {
    border: var(--border-width-1) solid transparent;
  }

  /* Fix overflow clipping in Safari */
  transform: translateZ(0);
}

.Indicator {
  background: var(--op-progress-bar-indicator);
  width: 100%;
  height: 100%;
  transition: transform var(--op-progress-bar-duration) var(--ease);
}
