@import '../../../styles/common';

@function progress-bar-height($height: base) {
  $base: 24px;
  $data: (
    small: $base * 0.5,
    base: $base,
    large: $base * 1.5,
  );

  @return map-get($data, $height);
}

.sizeSmall {
  height: progress-bar-height(small);
}

.sizeMedium {
  height: progress-bar-height();
}

.sizeLarge {
  height: progress-bar-height(large);
}

.colorHighlight {
  --op-progress-bar-background: var(--surface-highlight-default);
  --op-progress-bar-indicator: var(--action-primary-basic-default);
}

.colorInteractive {
  --op-progress-bar-background: var(--surface-interactive);
  --op-progress-bar-indicator: var(--action-primary-interactive-default);
}

.colorSuccess {
  --op-progress-bar-background: var(--surface-success);
  --op-progress-bar-indicator: var(--action-primary-success-default);
}

.colorCritical {
  --op-progress-bar-background: var(--surface-critical);
  --op-progress-bar-indicator: var(--action-primary-critical-default);
}

.Root {
  position: relative;
  overflow: hidden;
  background-color: var(--op-progress-bar-background);
  width: 100%;

  @media (forced-colors: active) {
    border: var(--border-width-1) solid transparent;
  }

  /* Fix overflow clipping in Safari */
  transform: translateZ(0);
}

.Indicator {
  background: var(--op-progress-bar-indicator);
  width: 100%;
  height: 100%;
  transition: transform var(--op-progress-bar-duration) var(--ease-in-out);
}
