.input {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  input,
  textarea {
    border: 1px solid var(--border-shadow);
    border-top-color: var(--border-hovered);
    border-radius: var(--border-radius-1);
    background-color: var(--surface-default);

    font-weight: var(--font-weight-regular);
    padding: var(--space-2) var(--space-3);

    // &:hover {
    //   border-color: var(--border-hovered);
    // }

    &:focus-visible {
      outline: 2px solid var(--focused-default);
      border-color: var(--border-subdued);
      // border-color: transparent;
    }
  }

  textarea {
    // min-height: 64px;
    padding: 8px 16px;
    resize: none;
    overflow: auto;
  }

  &--invalid {
    input,
    textarea {
      border-color: var(--interactive-critical);
      background-color: var(--surface-critical-subdued);

      &:focus-visible {
        border-color: var(--interactive-critical);
      }
    }
  }

  &--valid {
    input,
    textarea {
      background-color: var(--surface-success-subdued);
      border-color: var(--border-success-default);

      &:hover {
        border-color: var(--border-success-default);
      }
    }
  }

  &--disabled {
    input,
    textarea {
      border-color: var(--border-disabled);
      background-color: var(--surface-disabled);
      &:hover {
        border-color: var(--border-disabled);
      }
    }
  }

  &--fluid {
    input,
    textarea {
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;
    }
  }

  &__iconStart {
    > div {
      position: relative;

      svg {
        position: absolute;
        top: 8px;
        left: 12px;
        fill: var(--icon-default);
      }
    }

    input,
    textarea {
      padding-left: 50px;
    }
  }

  &__iconEnd {
    > div {
      position: relative;

      svg {
        position: absolute;
        top: 8px;
        right: 12px;
        fill: var(--icon-default);
      }
    }

    input,
    textarea {
      padding-right: 50px;
    }
  }
}

.indicator {
  font-size: 0.75rem;
  line-height: 1.3;
  color: var(--text-subdued);
  font-weight: var(--font-weight-regular);
}

.description {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--text-subdued);
}

.error {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--text-critical);
}
