.input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);

  input {
    border: 1px solid var(--color-gray-02);
    border-radius: var(--radius-small);
    background-color: var(--color-background-light);
    // padding: var(--spacing-large) var(--spacing-x-large);
    letter-spacing: var(--letter-spacing-dense);
    font-weight: var(--font-normal);
    height: 46px;
    padding: 0 16px;

    &:hover {
      border-color: var(--color-gray-03);
    }

    &:focus-visible {
      outline: 1px solid var(--color-primary-01);
      border-color: transparent;
    }
  }

  &--invalid {
    input {
      border-color: var(--color-error);

      &:hover {
        border-color: var(--color-error);
      }

      &:focus-visible {
        outline: none;
        border-color: var(--color-error);
      }
    }

    .label {
      color: var(--color-error);
    }
  }

  &--valid {
    input {
      border-color: var(--color-success);

      &:hover {
        border-color: var(--color-success);
      }

      &:focus-visible {
        outline: none;
        border-color: var(--color-success);
      }
    }
  }

  &--disabled {
    input {
      background-color: var(--color-gray-02);
      &:hover {
        border-color: var(--color-gray-02);
      }
    }
  }

  &__iconStart {
    > div {
      position: relative;

      svg {
        position: absolute;
        top: 15px;
        left: 16px;
      }
    }

    input {
      padding-left: 50px;
    }
  }

  &__iconEnd {
    > div {
      position: relative;

      svg {
        position: absolute;
        top: 15px;
        right: 16px;
      }
    }

    input {
      padding-right: 50px;
    }
  }
}

.label {
  font-weight: var(--font-bold);
  font-size: 0.875rem;
  line-height: 1.4;
  display: block;
  width: 100%;
}

.indicator {
  font-size: 0.75rem;
  line-height: 1.3;
  color: var(--text-light);
  font-weight: var(--font-normal);
}

.description {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--text-medium);
}
