@use '../../../../../styles/common' as *;

.Footer {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  overflow-x: auto;

  width: 100%;
  background-color: var(--surface-subdued);
  border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
  border-top: var(--border-divider);
  padding: var(--space-2) var(--space-4);

  @media #{$breakpoints-sm-up} {
    justify-content: flex-end;
    gap: var(--space-8);
    padding: var(--space-4) var(--space-6);
  }
}

.FooterRight {
  display: flex;
  align-items: center;
  gap: var(--space-3);

  > div:first-of-type {
    @media #{$breakpoints-sm-up} {
      min-width: 90px;
    }
  }
}

.Pagination {
  display: flex;
  align-items: center;

  @media #{$breakpoints-md-up} {
    gap: var(--space-05);
  }
}

.PaginationItems {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  display: none;

  button {
    padding: var(--space-1) var(--space-3);

    &[aria-selected='true'] {
      background-color: var(--surface-depressed);
    }
  }

  @media #{$breakpoints-md-up} {
    display: block;
  }
}

.PaginationItemsMobile {
  display: none;

  @media #{$breakpoints-sm-up} {
    display: block;
  }

  @media #{$breakpoints-md-up} {
    display: none;
  }
}

.Button {
  all: unset;
  cursor: pointer;

  @include focus-ring($border-width: var(--border-width-1));

  padding: var(--space-1) var(--space-2);
  border-radius: var(--border-radius-1);

  &:hover {
    background-color: var(--surface-hovered);
  }

  &:active {
    background-color: var(--surface-pressed);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: var(--surface-subdued);
    }
  }

  &:focus-visible {
    box-shadow: var(--shadow-button);
    outline: 0;

    @include focus-ring($style: 'focused');
  }
}

.desktopText {
  display: none;

  @media #{$breakpoints-sm-up} {
    display: block;
  }
}

.mobileText {
  display: block;

  @media #{$breakpoints-sm-up} {
    display: none;
  }
}

.Direction {
  display: flex;
  align-items: center;
  gap: var(--space-1);

  svg {
    fill: var(--icon);
  }
}

.Span {
  pointer-events: none;
}
