@use '../../../styles/common' as *;

.DateField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .InputField {
    display: inline-flex;
    align-items: center;
    min-width: 160px;

    &.Trim {
      min-width: fit-content;
      padding: 0;
    }

    ::-moz-selection,
    ::selection {
      background: transparent;
    }

    &:focus-within {
      & + div {
        outline: 2px solid var(--text-interactive);
        outline-offset: 2px;
      }
    }
  }
}

.Segment {
  padding: var(--space-0) var(--space-05);
  font-variant-numeric: tabular-nums;
  text-align: right;
  font-size: var(--font-size-100);
  color: var(--text-default);

  &.Placeholder {
    color: var(--text-subdued);
    font-style: italic;
  }

  &:focus {
    color: var(--text-onbg-default);
    background: var(--text-interactive);

    outline: none;
  }
}

.RangeField {
  flex-wrap: wrap;
  width: fit-content;
  padding: 0 var(--space-2);
  min-width: 230px;

  > span {
    color: var(--text-default);
    z-index: 11;
    padding-inline: var(--space-05);
  }

  @media #{$breakpoints-sm-down} {
    min-width: 0;
  }
}
