@import '../../../styles/common';

.Skeleton {
  background-color: var(--surface-neutral);
  border-radius: var(--border-radius-1);
  animation: var(--keyframes-pulse) var(--duration-2000) var(--ease-in-out)
    infinite;

  @media screen and (-ms-high-contrast: active) {
    background-color: grayText;
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}
