@import '../../../styles/common';

.Skeleton {
  background-color: var(--background-alpha-medium);
  border-radius: var(--border-radius-1);

  @media screen and (-ms-high-contrast: active) {
    background-color: grayText;
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}
