@import '../../../styles/common';

.CodeBlock {
  background-color: var(--code-bg);
  border-radius: var(--border-radius-1);
  position: relative;

  .Copy {
    position: absolute;
    right: var(--space-2);
    top: var(--space-2);
    opacity: 0;
    transition: opacity var(--duration-100) var(--ease-in);

    button {
      svg {
        fill: var(--copy-icon);
      }
      &:hover,
      &:focus {
        svg {
          fill: var(--copy-icon-hovered);
        }
      }
    }
  }

  &:hover,
  &:focus-within {
    .Copy {
      opacity: 1;
    }
  }

  --ds-text: #172b4d;
  --ds-text-subtlest: #626f86;
  --ds-text-subtle: #44546f;
  --ds-background-neutral: #091e420f;
  --ds-background-neutral-hovered: #091e4224;
  --ds-border-focused: #388bff;
  --ds-text-accent-blue: #0055cc;
  --ds-text-accent-teal: #206b74;
  --ds-text-accent-yellow: #7f5f01;
  --ds-text-accent-purple: #5e4db2;
  --ds-text-accent-green: #216e4e;
  --code-bg: var(--background);
  --copy-icon: #161619;
  --copy-icon-hovered: #161619;

  @media (prefers-color-scheme: dark) {
    --ds-text: #c7d1db;
    --ds-text-subtlest: #8696a7;
    --ds-text-subtle: #9fadbc;
    --ds-background-neutral: #a1bdd914;
    --ds-background-neutral-hovered: #a6c5e229;
    --ds-border-focused: #85b8ff;
    --ds-text-accent-yellow: #f5cd47;
    --ds-text-accent-green: #7ee2b8;
    --ds-text-accent-teal: #8bdbe5;
    --ds-text-accent-blue: #85b8ff;
    --ds-text-accent-purple: #b8acf6;
    --code-bg: var(--background-invert);
    --copy-icon: var(--surface-depressed);
    --copy-icon-hovered: var(--surface);
  }
}

.Collapse {
  overflow: hidden;
  width: 100%;
}

.CollapseContent {
  mask: var(--mask);
  position: relative;
  max-height: var(--code-collapse-height);
  overflow: hidden;
  box-sizing: border-box;
}

.CollapseTrigger {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: var(--space-1) var(--space-1);
  border-radius: 0;

  button {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    position: relative;
    background-color: var(--ds-background-neutral, #f4f5f7);
    border-radius: 0px 0px 4px 4px;
    border-width: 0px;
    transition: background 200ms ease 0s,
      box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    outline: none;
    cursor: pointer;
    font-family: 'Charlie Display', -apple-system, BlinkMacSystemFont,
      'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--ds-text-subtlest, #5e6c84);

    &:hover {
      background-color: var(--ds-background-neutral-hovered, #ebecf0);
      color: var(--ds-text-subtlest, #505f79);
    }

    @include focus-ring;
    &:focus-visible:not(:active) {
      @include focus-ring($style: 'focused');
    }

    &::after {
      border-radius: 0px 0px 4px 4px;
    }
  }
}
