@import '../../../styles/common';

.Badge {
  border-radius: var(--border-radius-3);
  font-weight: 400;
  font-size: var(--font-size-300);
  padding: var(--space-05) var(--space-2);
  background-color: var(--surface-subdued);
  color: var(--text-default);

  display: flex;
  align-items: center;
  gap: 4px;
  width: max-content;

  @media print {
    border: solid var(--border-width-1) var(--border-default);
  }
}

.statusSuccess {
  background-color: var(--surface-success);
}

.statusInfo {
  background-color: var(--surface-highlight-default);
}

.statusAttention {
  background-color: var(--surface-attention);
}

.statusWarning {
  background-color: var(--surface-warning);
}

.statusCritical {
  background-color: var(--surface-critical);
}

.statusNew {
  border: none;
}

.Icon {
  margin-left: calc(-1 * (var(--space-1)));

  + *:not(.Icon) {
    margin-left: var(--space-1);
  }
}

.PipContainer {
  margin-left: calc(-1 * var(--space-05));
  margin-right: var(--space-1);
  margin-top: -5px;
}
