:root {
  --color-background-darkest: rgba(16, 10, 152, 1);
  --color-background-dark: rgba(143, 139, 247, 1);
  --color-background-light: #f7f7f7;
  --color-background-lightest: #ffffff;

  --color-primary-00: rgb(16, 10, 152);
  --color-primary-01: rgb(81, 74, 243);
  --color-primary-02: rgb(112, 106, 245);
  --color-primary-03: rgb(143, 139, 247);
  --color-primary-04: rgb(175, 171, 250);
  --color-primary-05: rgb(206, 204, 252);
  --color-primary-06: rgb(237, 236, 254);

  --color-secondary-00: rgb(139, 74, 24);
  --color-secondary-01: rgb(213, 117, 44);
  --color-secondary-02: rgb(230, 159, 105);
  --color-secondary-03: rgb(235, 180, 138);
  --color-secondary-04: rgb(241, 201, 170);
  --color-secondary-05: rgb(246, 222, 203);
  --color-secondary-06: rgb(252, 243, 236);

  --color-white: #ffffff;
  --color-black: #000000;

  --color-warning: #dba846;
  --color-success: #1a7f37;
  --color-information: #3e5cc7;
  --color-error: #ba5130;

  --tags-success: #196661;
  --tags-success-bg: #e9f7f6;
  --tags-error: #a96a6e;
  --tags-error-bg: #fbf6f6;

  --banner-color-warning: #e2c282;
  --banner-color-success: #96c3ab;
  --banner-color-information: #aab8e9;
  --banner-color-error: #ebb8a7;

  --color-gray-01: rgba(0, 0, 0, 0.06);
  --color-gray-02: rgba(0, 0, 0, 0.12);
  --color-gray-03: rgba(0, 0, 0, 0.24);
  --color-gray-04: rgba(0, 0, 0, 0.4);
  --color-gray-05: rgba(0, 0, 0, 0.56);
  --color-gray-06: rgba(0, 0, 0, 0.72);
  --color-gray-07: rgba(0, 0, 0, 0.87);

  --color-gray-01-on-dark: rgba(255, 255, 255, 0.12);
  --color-gray-02-on-dark: rgba(255, 255, 255, 0.2);
  --color-gray-03-on-dark: rgba(255, 255, 255, 0.32);
  --color-gray-04-on-dark: rgba(255, 255, 255, 0.48);
  --color-gray-05-on-dark: rgba(255, 255, 255, 0.64);
  --color-gray-06-on-dark: rgba(255, 255, 255, 0.8);

  --color-dodger-blue-06: rgba(13, 63, 123, 1);

  --gradient-primary: linear-gradient(-89.04deg, #635ae2 1.64%, #120c66 97.92%);
  --gradient-secondary: linear-gradient(
    89.64deg,
    #e06f48 -44.94%,
    #66230c 132.2%
  );
  --gradient-tertiary: linear-gradient(
    -89.04deg,
    #4da29a 1.64%,
    #0c3d38 97.92%
  );
  --gradient-binary: linear-gradient(-89.04deg, #ffffff 1.64%, #000000 97.92%);

  --text-high: rgba(0, 0, 0, 0.87);
  --text-medium: rgba(0, 0, 0, 0.56);
  --text-light: rgba(0, 0, 0, 0.54);
  --text-disabled: rgba(0, 0, 0, 0.12);

  --text-high-on-dark: rgb(255, 255, 255);
  --text-medium-on-dark: rgba(255, 255, 255, 0.72);
  --text-light-on-dark: rgba(255, 255, 255, 0.48);
  --text-disabled-on-dark: rgba(255, 255, 255, 0.16);

  --font-normal: 400;
  --font-bold: 700;
  --drop-shadow: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
  --drop-shadow-hover: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.08));
  --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);

  --color-canvas-subtle: #f6f8fa;
  --color-link: var(--color-primary-01);
  --border-default: var(--color-gray-02);

  --form-bg: var(--color-background-light);
  --form-active: var(--color-primary-01);
  --form-bg-disabled: var(--color-gray-02);
  --input-checked: var(--color-primary-01);

  --nav-breakdown: 800px;
  --nav-background: #6059e8;

  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 12px;
  --spacing-x-large: 16px;

  --duration-paused: paused;
  --duration-slow: 3s;
  --duration-fast: 500ms;

  --easing-easeInSine: cubic-bezier(0.12, 0, 0.39, 0);
  --easing-easeOutSine: cubic-bezier(0.61, 1, 0.88, 1) 500ms;

  --radius-circle: 50%;
  --radius-large: 8px;
  --radius-small: 2px;

  --opacity-opacity-25: 0.25;
  --opacity-opacity-50: 0.5;
  --opacity-opacity-75: 0.75;

  --shadow-level-1: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --shadow-level-2: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  --shadow-level-3: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

  --media-query-max-width-mobile: 600px;
  --media-query-max-width-tablet: 1024px;

  --font-family-body: Arial, Helvetica, sans-serif;
  --font-family-headings: Palatino Linotype, serif;
  --font-size-caption: 12px;
  --font-size-body: 16px;
  --font-size-headings: 26px;

  --letter-spacing-dense: 0.01em;
  --letter-spacing-double: 2em;

  --line-height-heading: 1.25;
  --line-height-reset: 1;
  --line-height-text: 1.5;
}

[data-theme='dark'] {
  --color-primary-00: rgb(25, 102, 97);
  --color-primary-01: rgb(45, 180, 171);
  --color-primary-02: rgb(83, 193, 186);
  --color-primary-03: rgb(120, 207, 201);
  --color-primary-04: rgb(158, 220, 216);
  --color-primary-05: rgb(195, 234, 231);
  --color-primary-06: rgb(233, 247, 246);

  --color-secondary-00: rgb(153, 115, 0);
  --color-secondary-01: rgb(198, 161, 50);
  --color-secondary-02: rgb(209, 178, 75);
  --color-secondary-03: rgb(219, 195, 110);
  --color-secondary-04: rgb(230, 212, 148);
  --color-secondary-06: rgb(251, 246, 228);
}
