@import '../../../styles/common';

.Icon {
  display: block;
  height: 20px;
  width: 20px;
  max-height: 100%;
  max-width: 100%;
  color: currentColor;
}

.hasBackdrop {
  position: relative;
  display: flex;
  align-items: center;
  margin: var(--space-1);

  &::before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--space-1));
    bottom: calc(-1 * var(--space-1));
    left: calc(-1 * var(--space-1));
    right: calc(-1 * var(--space-1));
    border-radius: var(--border-radius-full);
  }
}

.colorBase {
  svg {
    color: var(--icon);
  }

  &::before {
    background-color: var(--surface-neutral);
  }
}

.colorSubdued svg {
  color: var(--icon-subdued);
}

.colorCritical {
  svg {
    color: var(--icon-critical);
  }

  &::before {
    background-color: var(--surface-critical);
  }
}

.colorInteractive svg {
  color: var(--interactive);
}

.colorWarning {
  svg {
    color: var(--icon-warning);
  }

  &::before {
    background-color: var(--surface-warning);
  }
}

.colorHighlight {
  svg {
    color: var(--icon-highlight);
  }

  &::before {
    background-color: var(--surface-highlight);
  }
}

.colorSuccess {
  svg {
    color: var(--icon-success);
  }

  &::before {
    background-color: var(--surface-success);
  }
}

.colorDecorative1 {
  svg {
    color: var(--icon-decorative-one);
  }

  &::before {
    background-color: var(--surface-decorative-one);
  }
}

.colorDecorative2 {
  svg {
    color: var(--icon-decorative-two);
  }

  &::before {
    background-color: var(--surface-decorative-two);
  }
}

.colorDecorative3 {
  svg {
    color: var(--icon-decorative-three);
  }

  &::before {
    background-color: var(--surface-decorative-three);
  }
}

.colorDecorative4 {
  svg {
    color: var(--icon-decorative-four);
  }

  &::before {
    background-color: var(--surface-decorative-four);
  }
}

.colorDecorative5 {
  svg {
    color: var(--icon-decorative-five);
  }

  &::before {
    background-color: var(--surface-decorative-five);
  }
}

.colorPrimary svg {
  color: var(--action-primary);
}

.colorMagic svg {
  color: var(--color-icon-magic);
}

.Svg,
.Img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.Placeholder {
  padding-bottom: 100%;
  background: currentColor;
}
