@use '../../../styles/common' as *;

.Icon {
  --size: 20px;
  display: block;
  height: var(--size);
  width: var(--size);
  max-height: 100%;
  max-width: 100%;
  color: currentColor;
}

.hasBackdrop {
  position: relative;
  display: flex;
  align-items: center;
  margin: var(--space-1);

  &::before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--space-1));
    bottom: calc(-1 * var(--space-1));
    left: calc(-1 * var(--space-1));
    right: calc(-1 * var(--space-1));
    border-radius: var(--border-radius-full);
  }
}

.colorDefault {
  &::before {
    background-color: var(--surface-selected);
  }
}

.colorSubdued {
  &::before {
    background-color: var(--surface-subdued);
  }
}

.colorCritical {
  &::before {
    background-color: var(--surface-critical);
  }
}

.colorInteractive {
  &::before {
    background-color: var(--surface-interactive);
  }
}

.colorWarning {
  &::before {
    background-color: var(--surface-warning);
  }
}

.colorHighlight {
  &::before {
    background-color: var(--surface-highlight-default);
  }
}

.colorSuccess {
  &::before {
    background-color: var(--surface-success);
  }
}

.colorOnBgDefault {
  &::before {
    background-color: var(--surface-success);
  }
}

.colorOnBgSubdued {
  &::before {
    background-color: var(--surface-success);
  }
}

.colorOnBgDisabled {
  &::before {
    background-color: var(--surface-success);
  }
}

.Svg,
.Img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.Placeholder {
  padding-bottom: 100%;
  background: currentColor;
}
