.Container {
  height: 100%;
}

.Header {
  padding: var(--space-3) var(--space-4);
  box-shadow: var(--shadow-deep);
  background-color: var(--surface);
  z-index: var(--z-2);
  position: relative;
}

.Wrapper {
  display: grid;
  gap: var(--space-6);
  grid-template-columns: 240px 1fr;
  height: calc(100% - 60px);
}

.Aside {
  padding-top: var(--space-6);
  padding-right: var(--space-2);
  box-shadow: inset -1px 0px 0px #e4e5e7;
  background-color: var(--surface);
  z-index: var(--z-1);

  > nav {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }
}

.NavItem {
  display: flex;
  justify-content: space-between;
  position: relative;

  > div {
    display: flex;
    gap: var(--space-2);
    padding: var(--space-2) var(--space-3);
    width: 100%;
    margin-left: var(--space-2);
    border-radius: var(--space-1);

    > span:last-child {
      flex-grow: 1;
    }
  }

  .Indicator {
    background-color: transparent;
    border-radius: 0px var(--space-1) var(--space-1) 0px;

    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--active {
    > div {
      background-color: var(--background-selected);
      --text: var(--interactive);

      svg {
        fill: var(--icon-interactive);
      }
    }

    .Indicator {
      background-color: var(--icon-interactive);
    }
  }
}
