@use '../../../styles/common' as *;

.root {
  margin: 0;
  text-align: inherit;
  color: var(--text-default);
}

.block {
  display: block;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.visuallyHidden {
  @include visually-hidden;
}

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.justify {
  text-align: justify;
}

.inherit {
  color: inherit;
}

.default {
  color: var(--text-default);
}

.disabled {
  color: var(--text-disabled);
}

.success {
  color: var(--text-success);
}

.critical {
  color: var(--text-critical);
}

.warning {
  color: var(--text-warning);
}

.subdued {
  color: var(--text-subdued);
}

.highlight {
  color: var(--text-highlight);
}

.interactive {
  color: var(--text-interactive);
}

.onBgDefault {
  color: var(--text-onbg-default);
}

.onBgDisabled {
  color: var(--text-onbg-disabled);
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.headingXs {
  font-size: var(--font-size-75);
  line-height: var(--font-line-height-1);
}

.headingSm {
  font-size: var(--font-size-100);
  line-height: var(--font-line-height-2);
}

.headingSmSpaced {
  font-size: var(--font-size-100);
  line-height: var(--font-line-height-2);
  letter-spacing: var(--space-05);
  text-transform: uppercase;
}

.headingMd {
  font-size: var(--font-size-200);
  line-height: var(--font-line-height-3);
}

.headingLg {
  font-size: var(--font-size-200);
  line-height: var(--font-line-height-2);

  @media #{$breakpoints-md-up} {
    font-size: var(--font-size-300);
    line-height: var(--font-line-height-3);
  }
}

.headingXl {
  font-size: var(--font-size-300);
  line-height: var(--font-line-height-3);

  @media #{$breakpoints-md-up} {
    font-size: var(--font-size-400);
    line-height: var(--font-line-height-4);
  }
}

.heading2xl {
  font-size: var(--font-size-300);
  line-height: var(--font-line-height-3);

  @media #{$breakpoints-md-up} {
    font-size: var(--font-size-500);
    line-height: var(--font-line-height-5);
  }
}

.heading3xl {
  font-size: var(--font-size-400);
  line-height: var(--font-line-height-4);

  @media #{$breakpoints-md-up} {
    font-size: var(--font-size-600);
    line-height: var(--font-line-height-6);
  }
}

.heading4xl {
  font-size: var(--font-size-600);
  line-height: var(--font-line-height-6);

  @media #{$breakpoints-md-up} {
    font-size: var(--font-size-700);
    line-height: var(--font-line-height-7);
  }
}

.bodySm {
  font-size: var(--font-size-75);
  line-height: var(--font-line-height-1);
}

.bodyMd {
  font-size: var(--font-size-100);
  line-height: var(--font-line-height-2);
}

.bodyLg {
  font-size: var(--font-size-200);
  line-height: var(--font-line-height-2);
}

.break {
  overflow-wrap: break-word;
}

.noBreak {
  white-space: nowrap;
}

.numeric {
  font-variant-numeric: tabular-nums lining-nums;
}
