@import '../../../styles/common';

.Switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.SwitchRoot {
  all: unset;

  width: 40px;
  height: 24px;
  background-color: var(--action-primary-interactive-default);
  border-radius: 9999px;
  position: relative;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &[data-state='checked'] {
    background-color: var(--action-primary-interactive-pressed);
  }

  @include focus-ring;

  &:focus-visible {
    @include focus-ring($style: 'focused');
  }
}

.SwitchThumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--surface-default);
  border-radius: 9999px;
  transition: transform var(--ease-in) var(--duration-100);
  transform: translateX(4px);
  will-change: transform;

  &[data-state='checked'] {
    transform: translateX(20px);
  }
}
