@use '../../../styles/common' as *;

.TimeField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .InputField {
    display: inline-flex;
    align-items: center;
    min-width: 100px;

    ::-moz-selection,
    ::selection {
      background: transparent;
    }

    &:focus-within {
      & + div {
        outline: 2px solid var(--text-interactive);
        outline-offset: 2px;
      }
    }
  }
}
