$small-size: 20px;
$large-size: 44px;

@mixin spinnerSize($size) {
  height: $size;
  width: $size;
}

.Spinner svg {
  animation: var(--keyframes-spin) var(--duration-500) linear infinite;
  fill: var(--border-highlight);
}

.sizeSmall svg {
  @include spinnerSize($small-size);
}

.sizeLarge svg {
  @include spinnerSize($large-size);
}
