@import '../../../styles/common';

.Link {
  appearance: none;

  display: inline;
  text-align: inherit;
  padding: 0;
  background: none;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  color: var(--interactive);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--interactive-hovered);
    text-decoration: none;
  }

  &:focus:not(:active) {
    outline: var(--focused) auto var(--border-width-1);
  }

  &:active {
    position: relative;
    color: var(--interactive-pressed);

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      // this mimics the box model of the plain button backdrop
      top: -2px;
      right: -5px;
      bottom: -2px;
      left: -5px;
      display: block;
      border-radius: var(--border-radius-1);
    }
  }

  @media print {
    text-decoration-color: var(--border-neutral-subdued);
  }
}

.monochrome {
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

.removeUnderline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
