@tailwind components;
@tailwind utilities;

@import url('~@opub-cdl/ui/dist/assets/styles.css');
@import url('./tokens/_variables.css');
/* @import url('./tokens/_variables_dark.css'); */

:root {
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--background);
}

body > .opub-Tooltip {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-rgb: 100, 100, 100;
  }
}

.text-clamp {
  line-height: 156%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
