:root {
  --action-primary-critical: var(--lightmode-red-solid-10);
  --action-primary-default: var(--lightmode-violet-solid-10);
  --action-primary-disabled: var(--lightmode-slate-gray-solid-8);
  --action-primary-interactive: var(--lightmode-blue-solid-10);
  --action-primary-success: var(--lightmode-green-solid-10);
  --action-secondary-critical: var(--lightmode-red-solid-3);
  --action-secondary-default: var(--lightmode-violet-solid-3);
  --action-secondary-disabled: var(--lightmode-slate-gray-solid-3);
  --action-secondary-interactive: var(--lightmode-blue-solid-3);
  --action-secondary-success: var(--lightmode-green-solid-3);
  --background-dark: var(--lightmode-indigo-solid-12);
  --background-default: var(--lightmode-indigo-solid-3);
  --background-subdued: var(--lightmode-indigo-solid-2);
  --border-basic-default: var(--lightmode-slate-gray-solid-8);
  --border-basic-disabled: var(--lightmode-slate-gray-solid-6);
  --border-basic-subdued: var(--lightmode-slate-gray-solid-7);
  --border-critical-default: var(--lightmode-red-solid-8);
  --border-critical-disabled: var(--lightmode-red-solid-7);
  --border-critical-subdued: var(--lightmode-red-solid-6);
  --border-highlight-default: var(--lightmode-violet-solid-8);
  --border-highlight-subdued: var(--lightmode-violet-solid-7);
  --border-interactive-default: var(--lightmode-blue-solid-8);
  --border-interactive-focused: var(--lightmode-blue-solid-7);
  --border-success-default: var(--lightmode-green-solid-8);
  --border-success-subdued: var(--lightmode-green-solid-7);
  --border-warning-default: var(--lightmode-amber-solid-8);
  --border-warning-subdued: var(--lightmode-amber-solid-7);
  --icon-critical: var(--lightmode-red-solid-10);
  --icon-default: var(--lightmode-slate-gray-solid-11);
  --icon-disabled: var(--lightmode-slate-gray-solid-9);
  --icon-highlight: var(--lightmode-violet-solid-10);
  --icon-interactive: var(--lightmode-indigo-solid-11);
  --icon-subdued: var(--lightmode-slate-gray-solid-10);
  --icon-success: var(--lightmode-green-solid-10);
  --icon-warning: var(--lightmode-amber-solid-10);
  --surface-critical: var(--lightmode-red-solid-2);
  --surface-default: var(--lightmode-pure-white);
  --surface-highlight: var(--lightmode-violet-solid-2);
  --surface-interactive: var(--lightmode-blue-solid-2);
  --surface-selected: var(--lightmode-blue-solid-2);
  --surface-subdued: var(--lightmode-slate-gray-solid-2);
  --surface-success: var(--lightmode-green-solid-2);
  --surface-warning: var(--lightmode-amber-solid-2);
  --text-critical: var(--lightmode-red-solid-11);
  --text-default: var(--lightmode-slate-gray-solid-12);
  --text-disabled: var(--lightmode-slate-gray-solid-9);
  --text-highlight: var(--lightmode-violet-solid-11);
  --text-interactive: var(--lightmode-blue-solid-11);
  --text-on-bg: var(--lightmode-pure-white);
  --text-subdued: var(--lightmode-slate-gray-solid-11);
  --text-success: var(--lightmode-green-solid-11);
  --text-warning: var(--lightmode-amber-solid-11);
  --border-radius-05: var(--space-05);
  --border-radius-1: var(--space-1);
  --border-radius-2: var(--space-2);
  --border-radius-3: var(--space-3);
  --border-radius-4: var(--space-4);
  --border-radius-5: var(--space-5);
  --border-radius-6: var(--space-6);
  --border-radius-full: 9999px;
  --border-width-1: var(--space-025);
  --border-width-2: var(--space-05);
  --border-width-4: var(--space-1);
  --lightmode-pure-black: #000000ff;
  --lightmode-pure-white: #ffffffff;
  --lightmode-amber-alpha-1: #c0820504;
  --lightmode-amber-alpha-10: #ff9500e3;
  --lightmode-amber-alpha-11: #ab5300f9;
  --lightmode-amber-alpha-12: #481800f6;
  --lightmode-amber-alpha-2: #ffab0212;
  --lightmode-amber-alpha-3: #ffbb012a;
  --lightmode-amber-alpha-4: #ffb70043;
  --lightmode-amber-alpha-5: #ffb3005d;
  --lightmode-amber-alpha-6: #ffa20179;
  --lightmode-amber-alpha-7: #ec8d009c;
  --lightmode-amber-alpha-8: #ea8900d4;
  --lightmode-amber-alpha-9: #ffa600db;
  --lightmode-amber-solid-1: #fefdfbff;
  --lightmode-amber-solid-10: #ffa01cff;
  --lightmode-amber-solid-11: #ad5700ff;
  --lightmode-amber-solid-12: #4e2009ff;
  --lightmode-amber-solid-2: #fff9edff;
  --lightmode-amber-solid-3: #fff4d5ff;
  --lightmode-amber-solid-4: #ffecbcff;
  --lightmode-amber-solid-5: #ffe3a2ff;
  --lightmode-amber-solid-6: #ffd386ff;
  --lightmode-amber-solid-7: #f3ba63ff;
  --lightmode-amber-solid-8: #ee9d2bff;
  --lightmode-amber-solid-9: #ffb224ff;
  --lightmode-blue-alpha-1: #0582ff04;
  --lightmode-blue-alpha-10: #0080f1f9;
  --lightmode-blue-alpha-11: #0066dbf9;
  --lightmode-blue-alpha-12: #002149f9;
  --lightmode-blue-alpha-2: #0582ff0a;
  --lightmode-blue-alpha-3: #0280ff12;
  --lightmode-blue-alpha-4: #0180ff1e;
  --lightmode-blue-alpha-5: #0180ef30;
  --lightmode-blue-alpha-6: #0177e648;
  --lightmode-blue-alpha-7: #0077df69;
  --lightmode-blue-alpha-8: #0082e6a1;
  --lightmode-blue-alpha-9: #0091fff9;
  --lightmode-blue-solid-1: #fbfdffff;
  --lightmode-blue-solid-10: #0081f1ff;
  --lightmode-blue-solid-11: #006adcff;
  --lightmode-blue-solid-12: #00254dff;
  --lightmode-blue-solid-2: #f5faffff;
  --lightmode-blue-solid-3: #edf6ffff;
  --lightmode-blue-solid-4: #e1f0ffff;
  --lightmode-blue-solid-5: #cee7feff;
  --lightmode-blue-solid-6: #b7d9f8ff;
  --lightmode-blue-solid-7: #96c7f2ff;
  --lightmode-blue-solid-8: #5eb0efff;
  --lightmode-blue-solid-9: #0091ffff;
  --lightmode-green-alpha-1: #05c04304;
  --lightmode-green-alpha-10: #008346d6;
  --lightmode-green-alpha-11: #006b3be7;
  --lightmode-green-alpha-12: #002012ea;
  --lightmode-green-alpha-2: #00c43b0d;
  --lightmode-green-alpha-3: #02ba3c16;
  --lightmode-green-alpha-4: #01a63522;
  --lightmode-green-alpha-5: #009b3633;
  --lightmode-green-alpha-6: #0193364b;
  --lightmode-green-alpha-7: #008c3d6d;
  --lightmode-green-alpha-8: #00934ca4;
  --lightmode-green-alpha-9: #008f4acf;
  --lightmode-green-solid-1: #fbfefcff;
  --lightmode-green-solid-10: #299764ff;
  --lightmode-green-solid-11: #18794eff;
  --lightmode-green-solid-12: #153226ff;
  --lightmode-green-solid-2: #f2fcf5ff;
  --lightmode-green-solid-3: #e9f9eeff;
  --lightmode-green-solid-4: #ddf3e4ff;
  --lightmode-green-solid-5: #ccebd7ff;
  --lightmode-green-solid-6: #b4dfc4ff;
  --lightmode-green-solid-7: #92ceacff;
  --lightmode-green-solid-8: #5bb98cff;
  --lightmode-green-solid-9: #30a46cff;
  --lightmode-indigo-alpha-1: #05058202;
  --lightmode-indigo-alpha-10: #002cbdc5;
  --lightmode-indigo-alpha-11: #00259ecb;
  --lightmode-indigo-alpha-12: #000e3aef;
  --lightmode-indigo-alpha-2: #054cff07;
  --lightmode-indigo-alpha-3: #0144ff0f;
  --lightmode-indigo-alpha-4: #0247f519;
  --lightmode-indigo-alpha-5: #023ceb26;
  --lightmode-indigo-alpha-6: #013de439;
  --lightmode-indigo-alpha-7: #0038e051;
  --lightmode-indigo-alpha-8: #0134db72;
  --lightmode-indigo-alpha-9: #0031d2c1;
  --lightmode-indigo-solid-1: #fdfdfeff;
  --lightmode-indigo-solid-10: #3a5cccff;
  --lightmode-indigo-solid-11: #3451b2ff;
  --lightmode-indigo-solid-12: #101d46ff;
  --lightmode-indigo-solid-2: #f8faffff;
  --lightmode-indigo-solid-3: #f0f4ffff;
  --lightmode-indigo-solid-4: #e6edfeff;
  --lightmode-indigo-solid-5: #d9e2fcff;
  --lightmode-indigo-solid-6: #c6d4f9ff;
  --lightmode-indigo-solid-7: #aec0f5ff;
  --lightmode-indigo-solid-8: #8da4efff;
  --lightmode-indigo-solid-9: #3e63ddff;
  --lightmode-red-alpha-1: #ff050503;
  --lightmode-red-alpha-10: #d10007c2;
  --lightmode-red-alpha-11: #c30007d4;
  --lightmode-red-alpha-12: #280003ec;
  --lightmode-red-alpha-2: #ff050508;
  --lightmode-red-alpha-3: #ff010110;
  --lightmode-red-alpha-4: #ff00001a;
  --lightmode-red-alpha-5: #f2000027;
  --lightmode-red-alpha-6: #e4010139;
  --lightmode-red-alpha-7: #d9000451;
  --lightmode-red-alpha-8: #d100046f;
  --lightmode-red-alpha-9: #db0007b7;
  --lightmode-red-solid-1: #fffcfcff;
  --lightmode-red-solid-10: #dc3d43ff;
  --lightmode-red-solid-11: #cd2b31ff;
  --lightmode-red-solid-12: #381316ff;
  --lightmode-red-solid-2: #fff8f8ff;
  --lightmode-red-solid-3: #ffefefff;
  --lightmode-red-solid-4: #ffe5e5ff;
  --lightmode-red-solid-5: #fdd8d8ff;
  --lightmode-red-solid-6: #f9c6c6ff;
  --lightmode-red-solid-7: #f3aeafff;
  --lightmode-red-solid-8: #eb9091ff;
  --lightmode-red-solid-9: #e5484dff;
  --lightmode-slate-gray-alpha-1: #05448204;
  --lightmode-slate-gray-alpha-10: #00101b81;
  --lightmode-slate-gray-alpha-11: #000e1897;
  --lightmode-slate-gray-alpha-12: #00080cee;
  --lightmode-slate-gray-alpha-2: #05294d07;
  --lightmode-slate-gray-alpha-3: #0025490e;
  --lightmode-slate-gray-alpha-4: #021c3713;
  --lightmode-slate-gray-alpha-5: #02173519;
  --lightmode-slate-gray-alpha-6: #01213920;
  --lightmode-slate-gray-alpha-7: #001a3328;
  --lightmode-slate-gray-alpha-8: #011e323e;
  --lightmode-slate-gray-alpha-9: #00111e77;
  --lightmode-slate-gray-solid-1: #fbfcfdff;
  --lightmode-slate-gray-solid-10: #7e868cff;
  --lightmode-slate-gray-solid-11: #687076ff;
  --lightmode-slate-gray-solid-12: #11181cff;
  --lightmode-slate-gray-solid-2: #f8f9faff;
  --lightmode-slate-gray-solid-3: #f1f3f5ff;
  --lightmode-slate-gray-solid-4: #eceef0ff;
  --lightmode-slate-gray-solid-5: #e6e8ebff;
  --lightmode-slate-gray-solid-6: #dfe3e6ff;
  --lightmode-slate-gray-solid-7: #d7dbdfff;
  --lightmode-slate-gray-solid-8: #c1c8cdff;
  --lightmode-slate-gray-solid-9: #889096ff;
  --lightmode-violet-alpha-1: #5805ab03;
  --lightmode-violet-alpha-10: #1f00a5b0;
  --lightmode-violet-alpha-11: #180091b9;
  --lightmode-violet-alpha-12: #0e003dec;
  --lightmode-violet-alpha-2: #3705ff05;
  --lightmode-violet-alpha-3: #3c00ff0d;
  --lightmode-violet-alpha-4: #2e02f416;
  --lightmode-violet-alpha-5: #2f01e821;
  --lightmode-violet-alpha-6: #2a01df30;
  --lightmode-violet-alpha-7: #2b01d447;
  --lightmode-violet-alpha-8: #2a00d066;
  --lightmode-violet-alpha-9: #2500b6a9;
  --lightmode-violet-solid-1: #fdfcfeff;
  --lightmode-violet-solid-10: #644fc1ff;
  --lightmode-violet-solid-11: #5746afff;
  --lightmode-violet-solid-12: #20134bff;
  --lightmode-violet-solid-2: #fbfaffff;
  --lightmode-violet-solid-3: #f5f2ffff;
  --lightmode-violet-solid-4: #ede9feff;
  --lightmode-violet-solid-5: #e4defcff;
  --lightmode-violet-solid-6: #d7cff9ff;
  --lightmode-violet-solid-7: #c4b8f3ff;
  --lightmode-violet-solid-8: #aa99ecff;
  --lightmode-violet-solid-9: #6e56cfff;
  --space-0: 0px;
  --space-025: 1px;
  --space-05: 2px;
  --space-1: 4px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
  --space-2: 8px;
  --space-20: 80px;
  --space-24: 96px;
  --space-3: 12px;
  --space-32: 128px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
}
