@use '../../../styles/common' as *;

.HasUnderline {
  border-bottom: var(--border-width-2) dotted var(--border-subdued);
  width: fit-content;
}

.Trigger {
  all: unset;
  line-height: 0;

  @include focus-ring;

  &:focus-visible {
    @include focus-ring($style: 'focused');
  }
}

.Content {
  --op-tooltip-overlay-offset: var(--space-3);
  --op-tooltip-border-radius: var(--border-radius-1, 4px);

  max-height: 200px; // Set a fixed max height
  overflow-y: auto; // Make content scrollable
  box-shadow: var(--shadow-element-popover);
  border-radius: var(--op-tooltip-border-radius);
  border: 1px solid var(--border-subdued);
  background-color: var(--surface-default);
  word-break: break-word;
  padding: var(--space-1) var(--space-2);
  pointer-events: auto;

  @media screen and (-ms-high-contrast: active) {
    border: var(--border-width-2) solid windowText;
  }

  max-width: 200px;

  animation-duration: var(--duration-100);
  animation-timing-function: var(--ease-in);
  will-change: transform, opacity;

  @media (prefers-reduced-motion) {
    animation: none;
  }

  &[data-state='delayed-open'][data-side='top'] {
    animation-name: slideUpAndFade;
  }
  &[data-state='delayed-open'][data-side='right'] {
    animation-name: slideRightAndFade;
  }
  &[data-state='delayed-open'][data-side='bottom'] {
    animation-name: slideDownAndFade;
  }
  &[data-state='delayed-open'][data-side='left'] {
    animation-name: slideLeftAndFade;
  }
}
.Wide {
  max-width: 275px;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
