.Item {
  transition: background-color var(--duration-200) var(--ease-in-out),
    gap var(--duration-200) var(--ease-in-out);

  &:hover {
    background-color: var(--background-selected);
  }
}

.Selected {
  background-color: var(--background-selected);

  &[aria-selected] {
    background-color: var(--background-selected);
  }

  svg {
    color: var(--icon-decorative-four);
  }
}

.Collapse {
  transition: flex-basis var(--duration-300) var(--ease-in-out);
}
<<<<<<< HEAD

.CollapseTrigger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  width: 100%;
  padding-block: var(--space-2);
  padding-inline: var(--space-2);

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  svg {
    transition: transform var(--duration-100);
  }

  &[data-state='open'] {
    svg {
      transform: rotate(-180deg);
    }
  }
}
=======
>>>>>>> alignment changes
