.HeroSection {
  background-image: url('/logo/assamTerrainLogo.png');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 560px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
