@import '../../../styles/common';

$height: 20px;

.Pill {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  padding: var(--space-1, 4px) var(--space-2, 8px) var(--space-1, 4px)
    var(--space-3, 12px);
  border-radius: var(--border-radius-3, 12px);
  border: 1px solid var(--border-default, #c1c8cd);
  background-color: var(--surface-default, #fff);
  gap: var(--space-1, 4px);

  &.disabled {
    @include recolor-icon(var(--icon-disabled));
    transition: none;
    background: var(--surface-subdued);
    color: var(--text-disabled);
    pointer-events: none;
  }

  &.linkable {
    padding: 0;
  }

  &.variantInfo {
    background-color: var(--surface-highlight-subdued);
    border-color: var(--border-highlight-default);
  }

  &.variantSuccess {
    background-color: var(--surface-success);
    border-color: var(--border-success-default);
  }

  &.variantWarning {
    background-color: var(--surface-warning);
    border-color: var(--border-warning-default);
  }

  &.variantCritical {
    background-color: var(--surface-critical);
    border-color: var(--border-critical-default);
  }
}

.Button {
  @include recolor-icon(var(--icon-default));
  @include unstyled-button;

  display: block;
  flex-shrink: 0;
  border-radius: var(--border-radius-full);
  line-height: 0;

  &:hover {
    outline: var(--border-width-1) solid transparent;
  }

  @include focus-ring;
  &:focus-visible:not(:active) {
    @include focus-ring($style: 'focused');
  }

  &:disabled {
    @include recolor-icon(var(--icon-disabled));
    cursor: default;
    pointer-events: none;
  }
}

.Link {
  display: inline-grid;
  color: var(--text-default);
  outline: none;
  border-radius: var(--border-radius-1);
  text-decoration: none;
  min-height: $height;
  padding: 0 var(--space-2);

  @include focus-ring;

  &:focus-visible:not(:active) {
    @include focus-ring($style: 'focused');
    text-decoration: underline;
  }

  &:hover {
    background: var(--surface-highlight-hovered);
    text-decoration: underline;
  }

  &.segmented {
    &:hover {
      background: none;
    }

    &::after {
      margin-right: var(--space-1);
    }
  }
}
