@import '../../../styles/common';

$item-min-width: 50px;

.TabList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: auto;
}

.TabWrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.Tab {
  @include unstyled-button;

  color: var(--text-highlight);
  position: relative;
  justify-content: center;
  padding: var(--space-4);
  padding-bottom: var(--space-3);
  outline: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  box-shadow: var(--shadow-inset-basic);

  @media #{$breakpoints-md-down} {
    padding-block: var(--space-2);
    padding-inline-start: var(--space-5);
    padding-inline-end: var(--space-6);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: var(--space-1);
    right: var(--space-1);
    height: 3px;
    border-top-left-radius: var(--border-radius-1);
    border-top-right-radius: var(--border-radius-1);
  }

  &.ActiveBorder {
    border-radius: 4px 4px 0px 0px;
    box-shadow: none;
  }

  &:hover {
    &.ActiveBorder {
      .Title {
        &::before {
          background-color: var(--border-highlight-subdued);
        }
      }
    }
  }

  &:focus-visible:not(:active) {
    .Title {
      @include focus-ring($style: 'focused');
    }
  }

  &[data-state='active'] {
    background: var(--surface-highlight-default, #fbfaff);

    .Title {
      color: var(--text-highlight);
      font-weight: 500;
    }

    svg {
      color: var(--icon-highlight);
    }

    &.ActiveBorder {
      background-color: var(--surface-highlight-subdued, #fbfaff);
      font-weight: 400;
      color: var(--text-highlight);
      border: 1px solid var(--border-subdued, #d7dbdf);
      border-bottom: none;
      box-shadow: var(--shadow-element-popover);

      &::before {
        background: var(--action-primary-basic-default, #6e56cf);
      }
    }
  }
}

.Title {
  @include focus-ring;
  display: block;
  min-width: $item-min-width;
}

.fitted {
  flex-wrap: nowrap;

  .Tab {
    flex: 1 1 100%;
  }

  .Title {
    width: 100%;
  }
}
