@import '../../../styles/common';

$item-min-width: 50px;

.Tabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: auto;
}

.fitted {
  flex-wrap: nowrap;

  .TabContainer {
    flex: 1 1 100%;
  }

  .Title {
    width: 100%;
    padding: var(--space-2) var(--space-4);
  }
}

.fillSpace {
  .TabContainer {
    flex: 1 1 auto;
  }
}

.TabContainer {
  display: flex;
  margin: 0;
  padding: 0;
}

.Tab {
  @include unstyled-button;
  color: var(--text-highlight);
  position: relative;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  padding: var(--space-2) var(--space-1);
  outline: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;

  box-shadow: var(--shadow-inset-basic);

  &.ActiveBorder {
    border-radius: 4px 4px 0px 0px;
    box-shadow: none;
  }

  &:hover {
    text-decoration: none;

    &.ActiveBorder {
      .Title {
        font-weight: var(--font-weight-regular);
        color: var(--text-default);
        background-color: transparent;

        &::before {
          background-color: var(--border-hovered);
        }
      }
    }
  }

  &:active {
    &.ActiveBorder {
      .Title {
        background-color: transparent;

        &::before {
          background: var(--surface-primary-selected-pressed);
        }
      }
    }
  }

  &:focus-visible {
    .Title {
      font-weight: var(--font-weight-regular);
      color: var(--text);
    }

    &:not(:active) {
      .Title {
        @include focus-ring($style: 'focused');
      }
    }
  }

  &:visited {
    color: inherit;
  }

  &[data-state='active'] {
    background: var(--surface-highlight-default, #ede9fe);
    .Title {
      color: var(--text-highlight);
    }

    &.ActiveBorder {
      background-color: var(--surface-highlight-subdued, #fbfaff);
      font-weight: var(--font-weight-regular);
      color: var(--text-highlight);
      border: 1px solid var(--border-subdued, #d7dbdf);
      box-shadow: var(--shadow-element-popover);
      border-bottom: none;

      &:focus .Title {
        outline: var(--border-width-3) solid transparent;

        &::before {
          background: var(--action-primary-active-basic-default, #6e56cf);
        }
      }

      .Title {
        outline: var(--border-width-3) solid transparent;
        color: var(--text-highlight);

        &::before {
          background: var(--action-primary-active-basic-default, #6e56cf);
        }
      }
    }
  }
}

.Title {
  @include focus-ring;
  display: block;
  border-radius: var(--border-radius-1);
  padding: var(--space-2) var(--space-4);
  min-width: $item-min-width;
  color: var(--text-subdued);

  &::before {
    content: '';
    position: absolute;
    bottom: calc(-1 * var(--space-2));
    left: 0;
    right: 0;
    height: var(--border-width-3);
    border-top-left-radius: var(--border-radius-1);
    border-top-right-radius: var(--border-radius-1);
  }
}
