.base {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid rgb(229, 222, 251);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px hsl(0 0% 0% / 0.141);
  line-height: 0;

  &:hover {
    background-color: hsl(252 96.9% 97.4%);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px black;
  }
}

.indicator {
  color: hsl(250 43% 48%);
}
