@import '../../../styles/common';

.Carousel {
  position: relative;

  .keen-slider__slide {
    --t: opacity 0.5s var(--ease),
      visibility 0.5s var(--ease);
    transition: var(--t);

    &[data-hidden='true'] {
      visibility: hidden;
      opacity: 0;
    }

    *[data-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: var(--t);
    }
  }

}

.ButtonWrapper {
  margin-top:var(--space-4)
}

.CarouselPrevBtn {
  border: medium none;
  background: var(--surface);
  cursor: pointer !important;
  padding: var(--space-4);
  border-radius: var(--border-radius-half);

  svg {
    filter: drop-shadow(var(--shadow-lg));
  }
}

.CarouselNextBtn {
  border: medium none;
  background: var(--surface);
  cursor: pointer !important;
  padding: var(--space-4);
  border-radius: var(--border-radius-half);
  
  filter: drop-shadow(var(--shadow-md));
  position: absolute;
  right: 0;
}