@import '../../../styles/common';

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.Popover {
  --combobox-popover-height: 300px;
  --popover-padding: var(--space-2);
  position: relative;
  z-index: 50;
  display: flex;
  gap: var(--space-05);
  max-height: min(
    var(--popover-available-height, 300px),
    var(--combobox-popover-height)
  );
  flex-direction: column;
  overflow: auto;
  padding: var(--popover-padding);

  max-width: calc(100vw - var(--space-8));
  box-shadow: var(--shadow-basic-xl);
  border-radius: var(--border-radius-2);

  background-color: var(--surface-default);
  color: var(--text-default);

  transform-origin: 50% 0px;
  animation: scaleIn 100ms ease-out;
}

.NoResult {
  gap: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}
