:root {
  --transparent: #00000000;
  --background: #f6f6f7ff;
  --background-hovered: #f1f2f3ff;
  --background-pressed: #edeeefff;
  --background-selected: #edeeefff;
  --background-invert: #202123ff;
  --surface: #ffffffff;
  --surface-subdued: #fafbfbff;
  --surface-hovered: #f6f6f7ff;
  --surface-pressed: #f1f2f3ff;
  --surface-depressed: #edeeefff;
  --surface-disabled: #fafbfbff;
  --surface-search-field: #f1f2f3ff;
  --surface-selected: #f2f7feff;
  --surface-selected-hovered: #edf4feff;
  --surface-selected-pressed: #e5effdff;
  --surface-warning: #ffd79dff;
  --surface-warning-subdued: #fff5eaff;
  --surface-warning-subdued-hovered: #fff2e2ff;
  --surface-warning-subdued-pressed: #ffebd3ff;
  --surface-critical: #fed3d1ff;
  --surface-critical-subdued: #fff4f4ff;
  --surface-critical-subdued-hovered: #fff0f0ff;
  --surface-critical-subdued-pressed: #ffe9e8ff;
  --surface-critical-subdued-depressed: #febcb9ff;
  --surface-success: #aee9d1ff;
  --surface-success-subdued: #f1f8f5ff;
  --surface-success-subdued-hovered: #ecf6f1ff;
  --surface-success-subdued-pressed: #e2f1eaff;
  --surface-highlight: #a4e8f2ff;
  --surface-highlight-subdued: #ebf9fcff;
  --surface-highlight-subdued-hovered: #e4f7faff;
  --surface-highlight-subdued-pressed: #d5f3f8ff;
  --surface-neutral: #e4e5e7ff;
  --surface-neutral-subdued: #f6f6f7ff;
  --surface-neutral-hovered: #dbdddfff;
  --surface-neutral-pressed: #c9ccd0ff;
  --surface-neutral-disabled: #f1f2f3ff;
  --surface-primary-selected: #f1f8f5ff;
  --surface-primary-selected-hovered: #b3d0c3ff;
  --surface-primary-selected-pressed: #a2bcb0ff;
  --surface-attention: #ffea8aff;
  --interactive: #2c6ecbff;
  --interactive-hovered: #1f5199ff;
  --interactive-pressed: #103262ff;
  --interactive-disabled: #bdc1ccff;
  --interactive-critical: #d82c0dff;
  --interactive-critical-hovered: #cd290cff;
  --interactive-critical-disabled: #fd938dff;
  --interactive-critical-pressed: #670f03ff;
  --text: #202223ff;
  --text-subdued: #6d7175ff;
  --text-disabled: #8c9196ff;
  --text-critical: #d72c0dff;
  --text-warning: #916a00ff;
  --text-success: #008060ff;
  --text-highlight: #347c84ff;
  --text-on-interactive: #ffffffff;
  --text-on-primary: #ffffffff;
  --text-on-critical: #ffffffff;
  --text-primary: #007b5cff;
  --text-primary-hover: #006c50ff;
  --text-primary-pressed: #005c44ff;
  --icon: #5c5f62ff;
  --icon-subdued: #8c9196ff;
  --icon-hovered: #1a1c1dff;
  --icon-pressed: #44474aff;
  --icon-disabled: #babec3ff;
  --icon-critical: #d72c0dff;
  --icon-warning: #b98900ff;
  --icon-success: #007f5fff;
  --icon-highlight: #00a0acff;
  --icon-interactive: #2c6ecbff;
  --icon-on-interactive: #ffffffff;
  --icon-on-primary: #ffffffff;
  --icon-on-critical: #ffffffff;
  --border: #8c9196ff;
  --border-subdued: #c9cccfff;
  --border-hovered: #999ea4ff;
  --border-depressed: #575959ff;
  --border-disabled: #d2d5d8ff;
  --border-critical: #fd5749ff;
  --border-critical-subdued: #e0b3b2ff;
  --border-critical-disabled: #ffa7a3ff;
  --border-warning: #b98900ff;
  --border-warning-subdued: #e1b878ff;
  --border-success: #00a47cff;
  --border-success-subdued: #95c9b4ff;
  --border-highlight: #449da7ff;
  --border-highlight-subdued: #98c6cdff;
  --border-neutral-subdued: #babfc3ff;
  --border-shadow: #aeb4b9ff;
  --border-shadow-subdued: #aeb4b9ff;
  --action-primary: #008060ff;
  --action-primary-hovered: #006e52ff;
  --action-primary-pressed: #005e46ff;
  --action-primary-depressed: #003d2cff;
  --action-primary-disabled: #f1f1f1ff;
  --action-secondary: #ffffffff;
  --action-secondary-hovered: #f6f6f7ff;
  --action-secondary-pressed: #f1f2f3ff;
  --action-secondary-depressed: #6d7175ff;
  --action-secondary-disabled: #ffffffff;
  --action-critical: #d82c0dff;
  --action-critical-hovered: #bc2200ff;
  --action-critical-pressed: #a21b00ff;
  --action-critical-depressed: #6c0f00ff;
  --action-critical-disabled: #f1f1f1ff;
  --decorative-surface-one: #ffc96bff;
  --decorative-surface-two: #ffc4b0ff;
  --decorative-surface-three: #92e6b5ff;
  --decorative-surface-four: #91e0d6ff;
  --decorative-surface-five: #fdc9d0ff;
  --decorative-text-one: #3d2800ff;
  --decorative-text-two: #490b1cff;
  --decorative-text-three: #002f19ff;
  --decorative-text-four: #002d2dff;
  --decorative-text-five: #4f0e1fff;
  --decorative-icon-one: #7e5700ff;
  --decorative-icon-two: #af294eff;
  --decorative-icon-three: #006d41ff;
  --decorative-icon-four: #006a68ff;
  --decorative-icon-icon-five: #ae2b4cff;
  --backdrop: #00000080;
  --focused: #458fffff;
  --overlay: #ffffff80;
  --divider: #e1e3e5ff;
  --shadow-inset: inset -1px 0px 0px 0px #e4e5e7ff;
  --shadow-inset-button-pressed: inset 0px 1px 0px 0px #00000026;
  --shadow-inset-button: inset 0px -1px 0px 0px #00000033;
  --shadow-button: 0px 1px 0px 0px #0000000d;
  --shadow-modal: 0px 0px 1px 0px #00000033;
  --shadow-layer: 0px 2px 16px 0px #202a3614;
  --shadow-popover: 0px 3px 6px -3px #17181814;
  --shadow-card: 0px 1px 2px 0px rgba(0, 0, 0, 0.15),
    0px 0px 5px 0px rgba(23, 24, 24, 0.05);
  --shadow-top-bar: 0px 2px 2px -1px #00000026;
  --shadow-deep: 0px 0px 0px 1px #062c521a;
  --shadow-base: 0px 1px 3px 0px #3f3f4426;
  --shadow-faint: 0px 1px 0px 0px #161d250d;
  --shadow-transparent: 0px 0px 0px 0px #00000000;
  --shadow-xs: 0px 0px 2px 0px #1f21243d;
  --shadow-sm: 0px 1px 1px 0px #1f21241a;
  --shadow-md: 0px 2px 4px 0px #1f21241a;
  --shadow-lg: 0px 4px 12px 0px #1f212433;
  --shadow-xl: 0px 4px 18px -2px #1f212414;
  --shadow-2xl: 0px 32px 32px 0px #1f212426;
  --font-family-primary: Inter;
  --font-family-mono: Space Mono;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;
  --space-0: 0px;
  --space-025: 1px;
  --space-05: 2px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
  --space-20: 80px;
  --space-24: 96px;
  --space-32: 128px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;
  --border-width-5: 5px;
  --border-radius-05: 2px;
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-5: 20px;
  --border-radius-full: 9999px;
  --border-radius-half: 50%;
  --border-radius-base: 3px;
  --border-radius-large: 6px;
  --border-base: 1px solid #c9cccfff;
  --border-dark: 1px solid #8c9196ff;
  --border-divider: 1px solid #e1e3e5ff;
  --border-transparent: 1px solid #00000000;
  --z-1: 100;
  --z-2: 400;
  --z-3: 513;
  --z-4: 514;
  --z-5: 515;
  --z-6: 516;
  --z-7: 517;
  --z-8: 518;
  --z-9: 519;
  --z-10: 520;
  --z-max: 99999;
  --duration-0: 0ms;
  --duration-100: 100ms;
  --duration-150: 150ms;
  --duration-200: 200ms;
  --duration-250: 250ms;
  --duration-300: 300ms;
  --duration-350: 350ms;
  --duration-400: 400ms;
  --duration-450: 450ms;
  --duration-500: 500ms;
  --duration-5000: 5000ms;
  --ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --linear: cubic-bezier(0, 0, 1, 1);
  --ease-in: cubic-bezier(0.42, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --font-size-75: 0.75rem;
  --font-size-100: 0.875rem;
  --font-size-200: 1rem;
  --font-size-300: 1.25rem;
  --font-size-400: 1.5rem;
  --font-size-500: 1.75rem;
  --font-size-600: 2rem;
  --font-size-700: 2.5rem;

  --font-line-height-1: 16px;
  --font-line-height-2: 20px;
  --font-line-height-3: 24px;
  --font-line-height-4: 28px;
  --font-line-height-5: 32px;
  --font-line-height-6: 40px;
  --font-line-height-7: 48px;
}
