:root { 
  --lightmode-indigo-solid-1: #FDFDFE;
  --lightmode-indigo-solid-2: #F8FAFF;
  --lightmode-indigo-solid-3: #F0F4FF;
  --lightmode-indigo-solid-4: #E6EDFE;
  --lightmode-indigo-solid-5: #D9E2FC;
  --lightmode-indigo-solid-6: #C6D4F9;
  --lightmode-indigo-solid-7: #AEC0F5;
  --lightmode-indigo-solid-8: #8DA4EF;
  --lightmode-indigo-solid-9: #3E63DD;
  --lightmode-indigo-solid-10: #3A5CCC;
  --lightmode-indigo-solid-11: #3451B2;
  --lightmode-indigo-solid-12: #101D46;
  --lightmode-blue-solid-1: #FBFDFF;
  --lightmode-blue-solid-2: #F5FAFF;
  --lightmode-blue-solid-3: #EDF6FF;
  --lightmode-blue-solid-4: #E1F0FF;
  --lightmode-blue-solid-5: #CEE7FE;
  --lightmode-blue-solid-6: #B7D9F8;
  --lightmode-blue-solid-7: #96C7F2;
  --lightmode-blue-solid-8: #5EB0EF;
  --lightmode-blue-solid-9: #0091FF;
  --lightmode-blue-solid-10: #0081F1;
  --lightmode-blue-solid-11: #006ADC;
  --lightmode-blue-solid-12: #00254D;
  --lightmode-violet-solid-1: #FDFCFE;
  --lightmode-violet-solid-2: #FBFAFF;
  --lightmode-violet-solid-3: #F5F2FF;
  --lightmode-violet-solid-4: #EDE9FE;
  --lightmode-violet-solid-5: #E4DEFC;
  --lightmode-violet-solid-6: #D7CFF9;
  --lightmode-violet-solid-7: #C4B8F3;
  --lightmode-violet-solid-8: #AA99EC;
  --lightmode-violet-solid-9: #6E56CF;
  --lightmode-violet-solid-10: #644FC1;
  --lightmode-violet-solid-11: #5746AF;
  --lightmode-violet-solid-12: #20134B;
  --lightmode-gray-slate-solid-1: #FBFCFD;
  --lightmode-gray-slate-solid-2: #F8F9FA;
  --lightmode-gray-slate-solid-3: #F1F3F5;
  --lightmode-gray-slate-solid-4: #ECEEF0;
  --lightmode-gray-slate-solid-5: #E6E8EB;
  --lightmode-gray-slate-solid-6: #DFE3E6;
  --lightmode-gray-slate-solid-7: #D7DBDF;
  --lightmode-gray-slate-solid-8: #C1C8CD;
  --lightmode-gray-slate-solid-9: #889096;
  --lightmode-gray-slate-solid-10: #7E868C;
  --lightmode-gray-slate-solid-11: #687076;
  --lightmode-gray-slate-solid-12: #11181C;
  --lightmode-red-solid-1: #FFFCFC;
  --lightmode-red-solid-2: #FFF8F8;
  --lightmode-red-solid-3: #FFEFEF;
  --lightmode-red-solid-4: #FFE5E5;
  --lightmode-red-solid-5: #FDD8D8;
  --lightmode-red-solid-6: #F9C6C6;
  --lightmode-red-solid-7: #F3AEAF;
  --lightmode-red-solid-8: #EB9091;
  --lightmode-red-solid-9: #E5484D;
  --lightmode-red-solid-10: #DC3D43;
  --lightmode-red-solid-11: #CD2B31;
  --lightmode-red-solid-12: #381316;
  --lightmode-green-solid-1: #FBFEFC;
  --lightmode-green-solid-2: #F2FCF5;
  --lightmode-green-solid-3: #E9F9EE;
  --lightmode-green-solid-4: #DDF3E4;
  --lightmode-green-solid-5: #CCEBD7;
  --lightmode-green-solid-6: #B4DFC4;
  --lightmode-green-solid-7: #92CEAC;
  --lightmode-green-solid-8: #5BB98C;
  --lightmode-green-solid-9: #30A46C;
  --lightmode-green-solid-10: #299764;
  --lightmode-green-solid-11: #18794E;
  --lightmode-green-solid-12: #153226;
  --lightmode-amber-solid-1: #FEFDFB;
  --lightmode-amber-solid-2: #FFF9ED;
  --lightmode-amber-solid-3: #FFF4D5;
  --lightmode-amber-solid-4: #FFECBC;
  --lightmode-amber-solid-5: #FFE3A2;
  --lightmode-amber-solid-6: #FFD386;
  --lightmode-amber-solid-7: #F3BA63;
  --lightmode-amber-solid-8: #EE9D2B;
  --lightmode-amber-solid-9: #FFB224;
  --lightmode-amber-solid-10: #FFA01C;
  --lightmode-amber-solid-11: #AD5700;
  --lightmode-amber-solid-12: #4E2009;
  --lightmode-pure-white: #FFFFFF;
  --lightmode-pure-black: #000000;
  --text-default: var(--lightmode-gray-slate-solid-12);
  --text-subdued: #3E4346;
  --text-disabled: var(--lightmode-gray-slate-solid-9);
  --text-critical: var(--lightmode-red-solid-11);
  --text-warning: var(--lightmode-amber-solid-11);
  --text-success: var(--lightmode-green-solid-11);
  --text-highlight: var(--lightmode-violet-solid-11);
  --text-interactive: var(--lightmode-blue-solid-11);
  --text-onbg-disabled: var(--lightmode-gray-slate-solid-6);
  --text-onbg-default: var(--lightmode-pure-white);
  --border-default: var(--lightmode-gray-slate-solid-8);
  --border-subdued: var(--lightmode-gray-slate-solid-7);
  --border-disabled: var(--lightmode-gray-slate-solid-6);
  --border-critical-default: var(--lightmode-red-solid-8);
  --border-critical-disabled: var(--lightmode-red-solid-7);
  --border-critical-subdued: var(--lightmode-red-solid-6);
  --border-success-default: var(--lightmode-green-solid-8);
  --border-success-subdued: var(--lightmode-green-solid-7);
  --border-warning-default: var(--lightmode-amber-solid-8);
  --border-warning-subdued: var(--lightmode-amber-solid-7);
  --border-highlight-default: var(--lightmode-violet-solid-8);
  --border-highlight-subdued: var(--lightmode-violet-solid-7);
  --border-interactive-default: var(--lightmode-blue-solid-8);
  --border-interactive-focused: var(--lightmode-blue-solid-7);
  --icon-default: var(--lightmode-gray-slate-solid-11);
  --icon-subdued: var(--lightmode-gray-slate-solid-10);
  --icon-disabled: var(--lightmode-gray-slate-solid-9);
  --icon-critical: var(--lightmode-red-solid-10);
  --action-primary-basic-default: var(--lightmode-violet-solid-9);
  --icon-warning: var(--lightmode-amber-solid-10);
  --action-primary-basic-hovered: var(--lightmode-violet-solid-10);
  --icon-success: var(--lightmode-green-solid-10);
  --action-primary-basic-pressed: var(--lightmode-violet-solid-11);
  --icon-highlight: var(--lightmode-violet-solid-10);
  --icon-interactive: var(--lightmode-indigo-solid-11);
  --action-primary-basic-depressed: var(--lightmode-violet-solid-12);
  --action-primary-disabled: var(--lightmode-gray-slate-solid-9);
  --action-primary-critical-default: var(--lightmode-red-solid-9);
  --action-primary-success-default: var(--lightmode-green-solid-9);
  --action-primary-critical-hovered: var(--lightmode-red-solid-10);
  --action-secondary-critical-pressed: var(--lightmode-red-solid-5);
  --action-secondary-critical-hovered: var(--lightmode-red-solid-4);
  --action-secondary-critical-depressed: var(--lightmode-red-solid-6);
  --action-secondary-critical-default: var(--lightmode-red-solid-3);
  --action-primary-interactive-default: var(--lightmode-blue-solid-9);
  --action-primary-interactive-hovered: var(--lightmode-blue-solid-10);
  --action-primary-interactive-pressed: var(--lightmode-blue-solid-11);
  --action-primary-interactive-depressed: var(--lightmode-blue-solid-12);
  --action-primary-success-hovered: var(--lightmode-green-solid-10);
  --action-secondary-basic-default: var(--lightmode-violet-solid-3);
  --action-primary-critical-pressed: var(--lightmode-red-solid-11);
  --action-primary-critical-depressed: var(--lightmode-red-solid-12);
  --action-secondary-disabled: var(--lightmode-gray-slate-solid-3);
  --action-primary-success-pressed: var(--lightmode-green-solid-11);
  --action-secondary-interactive-depressed: var(--lightmode-blue-solid-6);
  --action-secondary-success-depressed: var(--lightmode-green-solid-6);
  --action-secondary-success-pressed: var(--lightmode-green-solid-5);
  --action-primary-success-depressed: var(--lightmode-green-solid-12);
  --action-secondary-interactive-hovered: var(--lightmode-blue-solid-4);
  --action-secondary-neutral-default: var(--lightmode-gray-slate-solid-1);
  --action-secondary-interactive-pressed: var(--lightmode-blue-solid-5);
  --action-secondary-success-hovered: var(--lightmode-green-solid-4);
  --action-secondary-success-default: var(--lightmode-green-solid-3);
  --action-secondary-interactive-default: var(--lightmode-blue-solid-3);
  --action-secondary-neutral-hovered: var(--lightmode-gray-slate-solid-2);
  --action-secondary-neutral-pressed: var(--lightmode-gray-slate-solid-5);
  --action-secondary-basic-depressed: var(--lightmode-violet-solid-6);
  --action-secondary-basic-hovered: var(--lightmode-violet-solid-4);
  --action-secondary-basic-pressed: var(--lightmode-violet-solid-5);
  --action-secondary-neutral-depressed: var(--lightmode-gray-slate-solid-6);
  --action-tertiary-basic-hover: var(--lightmode-violet-alpha-2);
  --lightmode-indigo-alpha-1: #05058203;
  --action-tertiary-interactive-hover: var(--lightmode-blue-alpha-2);
  --lightmode-indigo-alpha-2: #054CFF08;
  --action-tertiary-success-hover: var(--lightmode-green-alpha-2);
  --action-tertiary-critical-hover: var(--lightmode-red-alpha-2);
  --lightmode-indigo-alpha-3: #0144FF0F;
  --lightmode-indigo-alpha-4: #0247F51A;
  --lightmode-indigo-alpha-5: #023CEB26;
  --lightmode-indigo-alpha-6: #013DE438;
  --lightmode-indigo-alpha-7: #0038E052;
  --lightmode-indigo-alpha-8: #0134DB73;
  --lightmode-indigo-alpha-9: #0031D2C2;
  --background-subdued: var(--lightmode-indigo-solid-2);
  --background-dark: var(--lightmode-indigo-solid-12);
  --background-default: var(--lightmode-indigo-solid-3);
  --surface-default: var(--lightmode-pure-white);
  --lightmode-indigo-alpha-10: #002CBDC4;
  --surface-subdued: var(--lightmode-gray-slate-solid-2);
  --lightmode-indigo-alpha-11: #00259ECC;
  --surface-selected: var(--lightmode-blue-solid-2);
  --lightmode-indigo-alpha-12: #000E3AF0;
  --surface-warning: var(--lightmode-amber-solid-2);
  --surface-critical: var(--lightmode-red-solid-2);
  --lightmode-blue-alpha-1: #0582FF05;
  --lightmode-blue-alpha-2: #0582FF0A;
  --surface-success: var(--lightmode-green-solid-2);
  --surface-highlight-subdued: var(--lightmode-violet-solid-2);
  --lightmode-blue-alpha-3: #0280FF12;
  --lightmode-blue-alpha-4: #0180FF1F;
  --surface-interactive: var(--lightmode-blue-solid-2);
  --surface-highlight-default: var(--lightmode-violet-solid-4);
  --lightmode-blue-alpha-5: #0180EF30;
  --surface-highlight-hovered: var(--lightmode-violet-solid-6);
  --lightmode-blue-alpha-6: #0177E647;
  --lightmode-blue-alpha-7: #0077DF69;
  --lightmode-blue-alpha-8: #0082E6A1;
  --lightmode-blue-alpha-9: #0091FFFA;
  --lightmode-blue-alpha-10: #0080F1FA;
  --lightmode-blue-alpha-11: #0066DBFA;
  --lightmode-blue-alpha-12: #002149FA;
  --lightmode-violet-alpha-1: #5805AB03;
  --lightmode-violet-alpha-2: #3705FF05;
  --lightmode-violet-alpha-3: #3C00FF0D;
  --lightmode-violet-alpha-4: #2E02F417;
  --lightmode-violet-alpha-5: #2F01E821;
  --lightmode-violet-alpha-6: #2A01DF30;
  --lightmode-violet-alpha-7: #2B01D447;
  --lightmode-violet-alpha-8: #2A00D066;
  --lightmode-violet-alpha-9: #2500B6A8;
  --lightmode-violet-alpha-10: #1F00A5B0;
  --lightmode-violet-alpha-11: #180091BA;
  --lightmode-violet-alpha-12: #0E003DED;
  --lightmode-gray-slate-alpha-1: #05448205;
  --lightmode-gray-slate-alpha-2: #05294D08;
  --lightmode-gray-slate-alpha-3: #0025490D;
  --lightmode-gray-slate-alpha-4: #021C3714;
  --lightmode-gray-slate-alpha-5: #0217351A;
  --lightmode-gray-slate-alpha-6: #01213921;
  --lightmode-gray-slate-alpha-7: #001A3329;
  --lightmode-gray-slate-alpha-8: #011E323D;
  --lightmode-gray-slate-alpha-9: #00111E78;
  --lightmode-gray-slate-alpha-10: #00101B82;
  --lightmode-gray-slate-alpha-11: #000E1896;
  --lightmode-gray-slate-alpha-12: #00080CED;
  --lightmode-green-alpha-1: #05C04305;
  --lightmode-green-alpha-2: #00C43B0D;
  --lightmode-green-alpha-3: #02BA3C17;
  --lightmode-green-alpha-4: #01A63521;
  --lightmode-green-alpha-5: #009B3633;
  --lightmode-green-alpha-6: #0193364A;
  --lightmode-green-alpha-7: #008C3D6E;
  --lightmode-green-alpha-8: #00934CA3;
  --lightmode-green-alpha-9: #008F4ACF;
  --lightmode-green-alpha-10: #008346D6;
  --lightmode-green-alpha-11: #006B3BE8;
  --lightmode-green-alpha-12: #002012EB;
  --lightmode-amber-alpha-1: #C0820505;
  --lightmode-amber-alpha-2: #FFAB0212;
  --lightmode-amber-alpha-3: #FFBB012B;
  --lightmode-amber-alpha-4: #FFB70042;
  --lightmode-amber-alpha-5: #FFB3005E;
  --lightmode-amber-alpha-6: #FFA20178;
  --lightmode-amber-alpha-7: #EC8D009C;
  --lightmode-amber-alpha-8: #EA8900D4;
  --lightmode-amber-alpha-9: #FFA600DB;
  --lightmode-amber-alpha-10: #FF9500E3;
  --lightmode-amber-alpha-11: #AB5300FA;
  --lightmode-amber-alpha-12: #481800F5;
  --lightmode-red-alpha-1: #FF050503;
  --lightmode-red-alpha-2: #FF050508;
  --lightmode-red-alpha-3: #FF01010F;
  --lightmode-red-alpha-4: #FF00001A;
  --lightmode-red-alpha-5: #F2000026;
  --lightmode-red-alpha-6: #E4010138;
  --lightmode-red-alpha-7: #D9000452;
  --lightmode-red-alpha-8: #D1000470;
  --lightmode-red-alpha-9: #DB0007B8;
  --lightmode-red-alpha-10: #D10007C2;
  --lightmode-red-alpha-11: #C30007D4;
  --lightmode-red-alpha-12: #280003ED;
  --mapareadistrict-default: var(--surface-highlight-default);
  --mapareadistrict-hover: var(--action-secondary-success-hovered);
  --mapareadistrict-selected: var(--action-primary-basic-default);
  --mapareadistrict-disabled: var(--action-primary-disabled);
  --mapareadistrict-border: var(--lightmode-gray-slate-solid-9);
  --border-focus: #FFFFFF03;

  --space-0: 0px;
  --space-025: 1px;
  --space-05: 2px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
  --space-20: 80px;
  --space-24: 96px;
  --space-32: 128px;

  --border-radius-0: var(--space-0);
  --border-radius-05: var(--space-05);
  --border-radius-1: var(--space-1);
  --border-radius-2: var(--space-2);
  --border-radius-3: var(--space-3);
  --border-radius-4: var(--space-4);
  --border-radius-5: var(--space-5);
  --border-radius-6: var(--space-6);
  --border-radius-full: 9999px;
  --border-width-1: var(--space-025);
  --border-width-2: var(--space-05);
  --border-width-4: var(--space-1);

  --shadow-modal: 0px 26px 80px 0px rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  --shadow-layer: 0px 31px 41px 0px rgba(32, 42, 53, 0.2), 0px 2px 16px 0px rgba(32, 42, 54, 0.08);
  --shadow-inset-basic: inset -1px 0px 0px 0px rgba(228, 229, 231, 1);
  --shadow-inset-button: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
  --shadow-button-pressed: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
  --shadow-button-default: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  --shadow-basic-deep: 0px 2px 16px 0px rgba(33, 43, 54, 0.08), 0px 0px 0px 1px rgba(6, 44, 82, 0.1);
  --shadow-basic-faint: 0px 1px 0px 0px rgba(22, 29, 37, 0.05);
  --shadow-basic-transparent: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --shadow-basic-xs: 0px 0px 2px 0px rgba(31, 33, 36, 0.24);
  --shadow-basic-sm: 0px 1px 1px 0px rgba(31, 33, 36, 0.1);
  --shadow-basic-md: 0px 1px 6px 0px rgba(31, 33, 36, 0.05), 0px 2px 4px 0px rgba(31, 33, 36, 0.1);
  --shadow-basic-lg: 0px 2px 6px 0px rgba(31, 33, 36, 0.05), 0px 4px 12px 0px rgba(31, 33, 36, 0.2);
  --shadow-basic-xl: 0px 12px 18px -2px rgba(31, 33, 36, 0.15), 0px 4px 18px -2px rgba(31, 33, 36, 0.08);
  --shadow-basic-2xl: 0px 32px 56px -2px rgba(31, 33, 36, 0.16), 0px 32px 32px 0px rgba(31, 33, 36, 0.15);
  --shadow-element-popover: 0px 8px 20px -4px rgba(23, 24, 24, 0.12), 0px 3px 6px -3px rgba(23, 24, 24, 0.08);
  --shadow-element-card: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(23, 24, 24, 0.05);
  --shadow-element-topnav: 0px 2px 2px -1px rgba(0, 0, 0, 0.15);
  --shadow-element-focus: 0px 0px 0px 2px rgba(0, 145, 255, 1);


  --z-1: 100;
  --z-2: 400;
  --z-3: 513;
  --z-4: 514;
  --z-5: 515;
  --z-6: 516;
  --z-7: 517;
  --z-8: 518;
  --z-9: 519;
  --z-10: 520;
  --z-max: 99999;

  --duration-0: 0ms;
  --duration-100: 100ms;
  --duration-150: 150ms;
  --duration-200: 200ms;
  --duration-250: 250ms;
  --duration-300: 300ms;
  --duration-350: 350ms;
  --duration-400: 400ms;
  --duration-450: 450ms;
  --duration-500: 500ms;
  --duration-5000: 5000ms;

  --ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --linear: cubic-bezier(0, 0, 1, 1);
  --ease-in: cubic-bezier(0.42, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);

  --font-size-75: 0.75rem;
  --font-size-100: 0.875rem;
  --font-size-200: 1rem;
  --font-size-300: 1.25rem;
  --font-size-400: 1.5rem;
  --font-size-500: 1.75rem;
  --font-size-600: 2rem;
  --font-size-700: 2.5rem;

  --font-line-height-1: 16px;
  --font-line-height-2: 20px;
  --font-line-height-3: 24px;
  --font-line-height-4: 28px;
  --font-line-height-5: 32px;
  --font-line-height-6: 40px;
  --font-line-height-7: 48px;
}
