:root {
  --border-focus: #ffffff03;
  --mapareadistrict-selected: var(--action-primary-default);
  --lightmode-red-alpha-12: #280003ed;
  --lightmode-red-alpha-11: #c30007d4;
  --lightmode-red-alpha-10: #d10007c2;
  --lightmode-red-alpha-9: #db0007b8;
  --lightmode-amber-alpha-9: #ffa600db;
  --lightmode-amber-alpha-8: #ea8900d4;
  --lightmode-amber-alpha-7: #ec8d009c;
  --lightmode-amber-alpha-6: #ffa20178;
  --lightmode-amber-alpha-5: #ffb3005e;
  --lightmode-red-alpha-3: #ff01010f;
  --lightmode-amber-alpha-4: #ffb70042;
  --lightmode-amber-alpha-3: #ffbb012b;
  --lightmode-amber-alpha-2: #ffab0212;
  --lightmode-amber-alpha-1: #c0820505;
  --lightmode-green-alpha-11: #006b3be8;
  --lightmode-gray-slate-alpha-12: #00080ced;
  --lightmode-gray-slate-alpha-10: #00101b82;
  --lightmode-gray-slate-alpha-9: #00111e78;
  --lightmode-gray-slate-alpha-8: #011e323d;
  --lightmode-gray-slate-alpha-7: #001a3329;
  --border-critical-subdued: var(--lightmode-red-solid-6);
  --lightmode-gray-slate-alpha-4: #021c3714;
  --border-success-default: var(--lightmode-green-solid-8);
  --lightmode-gray-slate-alpha-3: #0025490d;
  --border-highlight-subdued: var(--lightmode-violet-solid-7);
  --lightmode-gray-slate-alpha-2: #05294d08;
  --lightmode-gray-slate-alpha-1: #05448205;
  --lightmode-blue-solid-3: #edf6ff;
  --surface-interactive: var(--lightmode-blue-solid-2);
  --surface-highlight-subdued: var(--lightmode-violet-solid-2);
  --surface-success: var(--lightmode-green-solid-2);
  --surface-critical: var(--lightmode-red-solid-2);
  --surface-warning: var(--lightmode-amber-solid-2);
  --surface-default: var(--lightmode-pure-white);
  --mapareadistrict-disabled: var(--action-primary-disabled);
  --lightmode-indigo-alpha-6: #013de438;
  --border-interactive-focused: var(--lightmode-blue-solid-7);
  --background-subdued: var(--lightmode-indigo-solid-2);
  --lightmode-indigo-alpha-5: #023ceb26;
  --mapareadistrict-border: var(--lightmode-gray-slate-solid-9);
  --lightmode-indigo-alpha-7: #0038e052;
  --border-interactive-default: var(--lightmode-blue-solid-8);
  --background-dark: var(--lightmode-indigo-solid-12);
  --lightmode-indigo-alpha-4: #0247f51a;
  --background-default: var(--lightmode-indigo-solid-3);
  --mapareadistrict-default: var(--surface-default);
  --lightmode-indigo-alpha-3: #0144ff0f;
  --lightmode-blue-solid-12: #00254d;
  --lightmode-violet-alpha-11: #180091ba;
  --lightmode-violet-alpha-5: #2f01e821;
  --lightmode-violet-solid-11: #5746af;
  --icon-success: var(--lightmode-green-solid-10);
  --border-warning-default: var(--lightmode-amber-solid-8);
  --lightmode-gray-slate-alpha-5: #0217351a;
  --border-highlight-default: var(--lightmode-violet-solid-8);
  --border-success-subdued: var(--lightmode-green-solid-7);
  --lightmode-gray-slate-alpha-6: #01213921;
  --border-warning-subdued: var(--lightmode-amber-solid-7);
  --border-default: var(--lightmode-gray-slate-solid-8);
  --lightmode-amber-solid-7: #f3ba63;
  --text-critical: var(--lightmode-red-solid-11);
  --lightmode-violet-alpha-7: #2b01d447;
  --icon-critical: var(--lightmode-red-solid-10);
  --lightmode-gray-slate-solid-4: #eceef0;
  --text-disabled: var(--lightmode-gray-slate-solid-9);
  --action-primary-default: var(--lightmode-violet-solid-10);
  --lightmode-violet-solid-12: #20134b;
  --text-subdued: #3e4346;
  --action-primary-disabled: var(--lightmode-gray-slate-solid-8);
  --lightmode-violet-alpha-1: #5805ab03;
  --lightmode-violet-solid-7: #c4b8f3;
  --text-default: var(--lightmode-gray-slate-solid-12);
  --lightmode-amber-solid-11: #ad5700;
  --lightmode-amber-solid-10: #ffa01c;
  --surface-selected: var(--lightmode-blue-solid-2);
  --mapareadistrict-hover: var(--surface-highlight-default);
  --lightmode-indigo-alpha-2: #054cff08;
  --lightmode-pure-white: #ffffff;
  --lightmode-amber-solid-9: #ffb224;
  --surface-subdued: var(--lightmode-gray-slate-solid-2);
  --lightmode-pure-black: #000000;
  --lightmode-amber-solid-8: #ee9d2b;
  --lightmode-amber-solid-6: #ffd386;
  --border-critical-disabled: var(--lightmode-red-solid-7);
  --lightmode-amber-solid-5: #ffe3a2;
  --lightmode-amber-solid-4: #ffecbc;
  --lightmode-amber-solid-3: #fff4d5;
  --text-warning: var(--lightmode-amber-solid-11);
  --lightmode-amber-solid-2: #fff9ed;
  --text-success: var(--lightmode-green-solid-11);
  --lightmode-amber-solid-1: #fefdfb;
  --lightmode-green-solid-12: #153226;
  --lightmode-blue-alpha-4: #0180ff1f;
  --lightmode-green-solid-11: #18794e;
  --lightmode-blue-solid-4: #e1f0ff;
  --lightmode-violet-alpha-12: #0e003ded;
  --lightmode-violet-alpha-6: #2a01df30;
  --icon-disabled: var(--lightmode-gray-slate-solid-9);
  --lightmode-red-alpha-2: #ff050508;
  --lightmode-red-solid-7: #f3aeaf;
  --lightmode-violet-alpha-8: #2a00d066;
  --lightmode-blue-solid-11: #006adc;
  --icon-default: var(--lightmode-gray-slate-solid-11);
  --lightmode-red-solid-5: #fdd8d8;
  --lightmode-violet-alpha-9: #2500b6a8;
  --lightmode-gray-slate-solid-2: #f8f9fa;
  --icon-subdued: var(--lightmode-gray-slate-solid-10);
  --lightmode-red-alpha-1: #ff050503;
  --lightmode-red-solid-4: #ffe5e5;
  --lightmode-blue-solid-1: #fbfdff;
  --lightmode-violet-alpha-10: #1f00a5b0;
  --lightmode-violet-alpha-4: #2e02f417;
  --lightmode-gray-slate-solid-3: #f1f3f5;
  --icon-warning: var(--lightmode-amber-solid-10);
  --lightmode-amber-alpha-12: #481800f5;
  --lightmode-red-solid-1: #fffcfc;
  --lightmode-red-alpha-4: #ff00001a;
  --lightmode-blue-alpha-7: #0077df69;
  --lightmode-violet-solid-5: #e4defc;
  --lightmode-gray-slate-solid-7: #d7dbdf;
  --lightmode-blue-alpha-3: #0280ff12;
  --lightmode-green-solid-10: #299764;
  --lightmode-blue-alpha-2: #0582ff0a;
  --lightmode-green-solid-5: #ccebd7;
  --lightmode-blue-alpha-8: #0082e6a1;
  --lightmode-violet-solid-2: #fbfaff;
  --lightmode-gray-slate-solid-8: #c1c8cd;
  --lightmode-blue-alpha-5: #0180ef30;
  --action-primary-critical: var(--lightmode-red-solid-10);
  --lightmode-green-solid-8: #5bb98c;
  --lightmode-indigo-alpha-11: #00259ecc;
  --lightmode-green-solid-6: #b4dfc4;
  --icon-interactive: var(--lightmode-indigo-solid-11);
  --lightmode-violet-alpha-3: #3c00ff0d;
  --lightmode-gray-slate-solid-1: #fbfcfd;
  --lightmode-indigo-alpha-10: #002cbdc4;
  --lightmode-green-solid-1: #fbfefc;
  --lightmode-blue-alpha-1: #0582ff05;
  --lightmode-green-solid-4: #ddf3e4;
  --lightmode-indigo-alpha-12: #000e3af0;
  --lightmode-green-solid-7: #92ceac;
  --icon-highlight: var(--lightmode-violet-solid-10);
  --lightmode-violet-alpha-2: #3705ff05;
  --lightmode-violet-solid-10: #644fc1;
  --lightmode-green-solid-2: #f2fcf5;
  --border-disabled: var(--lightmode-gray-slate-solid-6);
  --lightmode-violet-solid-9: #6e56cf;
  --lightmode-red-solid-9: #e5484d;
  --action-secondary-default: var(--lightmode-violet-solid-3);
  --lightmode-violet-solid-8: #aa99ec;
  --lightmode-red-solid-12: #381316;
  --lightmode-green-solid-3: #e9f9ee;
  --border-critical-default: var(--lightmode-red-solid-8);
  --lightmode-violet-solid-6: #d7cff9;
  --lightmode-red-solid-10: #dc3d43;
  --text-highlight: var(--lightmode-violet-solid-11);
  --lightmode-amber-solid-12: #4e2009;
  --border-subdued: var(--lightmode-gray-slate-solid-7);
  --lightmode-violet-solid-4: #ede9fe;
  --lightmode-red-solid-8: #eb9091;
  --surface-highlight-default: var(--lightmode-violet-solid-4);
  --lightmode-indigo-alpha-1: #05058203;
  --lightmode-green-alpha-1: #05c04305;
  --lightmode-indigo-solid-1: #fdfdfe;
  --action-secondary-disabled: var(--lightmode-gray-slate-solid-3);
  --lightmode-violet-solid-3: #f5f2ff;
  --lightmode-red-solid-11: #cd2b31;
  --lightmode-indigo-alpha-9: #0031d2c2;
  --lightmode-green-alpha-2: #00c43b0d;
  --lightmode-indigo-solid-4: #e6edfe;
  --text-interactive: var(--lightmode-blue-solid-11);
  --lightmode-red-alpha-5: #f2000026;
  --lightmode-blue-alpha-10: #0080f1fa;
  --lightmode-gray-slate-solid-6: #dfe3e6;
  --lightmode-blue-solid-10: #0081f1;
  --lightmode-red-alpha-6: #e4010138;
  --lightmode-blue-alpha-9: #0091fffa;
  --lightmode-gray-slate-solid-5: #e6e8eb;
  --lightmode-blue-alpha-6: #0177e647;
  --lightmode-green-solid-9: #30a46c;
  --action-primary-success: var(--lightmode-green-solid-10);
  --lightmode-green-alpha-10: #008346d6;
  --lightmode-indigo-solid-12: #101d46;
  --action-secondary-success: var(--lightmode-green-solid-3);
  --lightmode-green-alpha-8: #00934ca3;
  --lightmode-indigo-solid-6: #c6d4f9;
  --lightmode-amber-alpha-10: #ff9500e3;
  --lightmode-red-solid-3: #ffefef;
  --lightmode-blue-solid-6: #b7d9f8;
  --lightmode-blue-solid-7: #96c7f2;
  --action-secondary-critical: var(--lightmode-red-solid-3);
  --lightmode-green-alpha-7: #008c3d6e;
  --lightmode-indigo-solid-11: #3451b2;
  --lightmode-green-alpha-12: #002012eb;
  --lightmode-indigo-solid-10: #3a5ccc;
  --lightmode-amber-alpha-11: #ab5300fa;
  --lightmode-red-solid-6: #f9c6c6;
  --lightmode-violet-solid-1: #fdfcfe;
  --lightmode-green-alpha-9: #008f4acf;
  --lightmode-indigo-solid-9: #3e63dd;
  --lightmode-red-solid-2: #fff8f8;
  --lightmode-blue-solid-9: #0091ff;
  --action-primary-interactive: var(--lightmode-blue-solid-10);
  --lightmode-green-alpha-5: #009b3633;
  --lightmode-indigo-solid-5: #d9e2fc;
  --lightmode-indigo-alpha-8: #0134db73;
  --text-onbg: var(--lightmode-pure-white);
  --lightmode-gray-slate-alpha-11: #000e1896;
  --lightmode-indigo-solid-3: #f0f4ff;
  --lightmode-gray-slate-solid-9: #889096;
  --lightmode-red-alpha-8: #d1000470;
  --lightmode-blue-alpha-11: #0066dbfa;
  --lightmode-gray-slate-solid-11: #687076;
  --lightmode-blue-solid-5: #cee7fe;
  --lightmode-red-alpha-7: #d9000452;
  --lightmode-blue-alpha-12: #002149fa;
  --lightmode-gray-slate-solid-12: #11181c;
  --lightmode-blue-solid-2: #f5faff;
  --lightmode-green-alpha-4: #01a63521;
  --lightmode-indigo-solid-2: #f8faff;
  --lightmode-green-alpha-3: #02ba3c17;
  --lightmode-indigo-solid-7: #aec0f5;
  --lightmode-gray-slate-solid-10: #7e868c;
  --lightmode-blue-solid-8: #5eb0ef;
  --action-secondary-interactive: var(--lightmode-blue-solid-3);
  --lightmode-green-alpha-6: #0193364a;
  --lightmode-indigo-solid-8: #8da4ef;

  --space-20: 80px;
  --space-16: 64px;
  --space-12: 48px;
  --space-1: 4px;
  --space-8: 32px;
  --space-3: 12px;
  --space-4: 16px;
  --space-05: 2px;
  --space-6: 24px;
  --space-2: 8px;
  --space-10: 40px;
  --space-32: 128px;
  --space-025: 1px;
  --space-5: 20px;
  --space-24: 96px;
  --space-0: 0px;

  --border-width-4: var(--space-1);
  --border-width-2: var(--space-05);
  --border-radius-1: var(--space-1);
  --border-radius-0: var(--space-0);
  --border-radius-full: 9999px;
  --border-radius-6: 24px;
  --border-radius-5: var(--space-5);
  --border-radius-4: var(--space-4);
  --border-radius-2: var(--space-2);
  --border-radius-3: var(--space-3);
  --border-width-1: var(--space-025);
  --border-radius-05: var(--space-05);

  --shadow-modal: 0px 26px 80px 0px rgba(0, 0, 0, 0.2),
    0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  --shadow-layer: 0px 31px 41px 0px rgba(32, 42, 53, 0.2),
    0px 2px 16px 0px rgba(32, 42, 54, 0.08);
  --shadow-inset-basic: inset -1px 0px 0px 0px rgba(228, 229, 231, 1);
  --shadow-inset-button: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
  --shadow-button-pressed: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
  --shadow-button-default: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  --shadow-basic-deep: 0px 2px 16px 0px rgba(33, 43, 54, 0.08),
    0px 0px 0px 1px rgba(6, 44, 82, 0.1);
  --shadow-basic-faint: 0px 1px 0px 0px rgba(22, 29, 37, 0.05);
  --shadow-basic-transparent: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --shadow-basic-xs: 0px 0px 2px 0px rgba(31, 33, 36, 0.24);
  --shadow-basic-sm: 0px 1px 1px 0px rgba(31, 33, 36, 0.1);
  --shadow-basic-md: 0px 1px 6px 0px rgba(31, 33, 36, 0.05),
    0px 2px 4px 0px rgba(31, 33, 36, 0.1);
  --shadow-basic-lg: 0px 2px 6px 0px rgba(31, 33, 36, 0.05),
    0px 4px 12px 0px rgba(31, 33, 36, 0.2);
  --shadow-basic-xl: 0px 12px 18px -2px rgba(31, 33, 36, 0.15),
    0px 4px 18px -2px rgba(31, 33, 36, 0.08);
  --shadow-basic-2xl: 0px 32px 56px -2px rgba(31, 33, 36, 0.16),
    0px 32px 32px 0px rgba(31, 33, 36, 0.15);
  --shadow-element-popover: 0px 8px 20px -4px rgba(23, 24, 24, 0.12),
    0px 3px 6px -3px rgba(23, 24, 24, 0.08);
  --shadow-element-card: 0px 1px 2px 0px rgba(0, 0, 0, 0.15),
    0px 0px 5px 0px rgba(23, 24, 24, 0.05);
  --shadow-element-topnav: 0px 2px 2px -1px rgba(0, 0, 0, 0.15);
  --shadow-element-focus: 0px 0px 0px 2px rgba(0, 145, 255, 1);

  --z-1: 100;
  --z-2: 400;
  --z-3: 513;
  --z-4: 514;
  --z-5: 515;
  --z-6: 516;
  --z-7: 517;
  --z-8: 518;
  --z-9: 519;
  --z-10: 520;
  --z-max: 99999;

  --duration-0: 0ms;
  --duration-100: 100ms;
  --duration-150: 150ms;
  --duration-200: 200ms;
  --duration-250: 250ms;
  --duration-300: 300ms;
  --duration-350: 350ms;
  --duration-400: 400ms;
  --duration-450: 450ms;
  --duration-500: 500ms;
  --duration-5000: 5000ms;

  --ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --linear: cubic-bezier(0, 0, 1, 1);
  --ease-in: cubic-bezier(0.42, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);

  --font-size-75: 0.75rem;
  --font-size-100: 0.875rem;
  --font-size-200: 1rem;
  --font-size-300: 1.25rem;
  --font-size-400: 1.5rem;
  --font-size-500: 1.75rem;
  --font-size-600: 2rem;
  --font-size-700: 2.5rem;

  --font-line-height-1: 16px;
  --font-line-height-2: 20px;
  --font-line-height-3: 24px;
  --font-line-height-4: 28px;
  --font-line-height-5: 32px;
  --font-line-height-6: 40px;
  --font-line-height-7: 48px;
}
