:root {
    --action-primary-critical: var(--lightmode-red-solid-10);
    --action-primary-default: var(--lightmode-violet-solid-10);
    --action-primary-disabled: var(--lightmode-slate-gray-solid-8);
    --action-primary-interactive: var(--lightmode-blue-solid-10);
    --action-primary-success: var(--lightmode-green-solid-10);
    --action-secondary-critical: var(--lightmode-red-solid-3);
    --action-secondary-default: var(--lightmode-violet-solid-3);
    --action-secondary-disabled: var(--lightmode-slate-gray-solid-3);
    --action-secondary-interactive: var(--lightmode-blue-solid-3);
    --action-secondary-success: var(--lightmode-green-solid-3);

    --background-dark: var(--lightmode-indigo-solid-12);
    --background-default: var(--lightmode-indigo-solid-3);
    --background-subdued: var(--lightmode-indigo-solid-2);

    --border-default: var(--lightmode-slate-gray-solid-8);
    --border-disabled: var(--lightmode-slate-gray-solid-6);
    --border-subdued: var(--lightmode-slate-gray-solid-7);
    --border-critical-default: var(--lightmode-red-solid-8);
    --border-critical-disabled: var(--lightmode-red-solid-7);
    --border-critical-subdued: var(--lightmode-red-solid-6);
    --border-highlight-default: var(--lightmode-violet-solid-8);
    --border-highlight-subdued: var(--lightmode-violet-solid-7);
    --border-interactive-default: var(--lightmode-blue-solid-8);
    --border-interactive-focused: var(--lightmode-blue-solid-7);
    --border-success-default: var(--lightmode-green-solid-8);
    --border-success-subdued: var(--lightmode-green-solid-7);
    --border-warning-default: var(--lightmode-amber-solid-8);
    --border-warning-subdued: var(--lightmode-amber-solid-7);

    --icon-critical: var(--lightmode-red-solid-10);
    --icon-default: var(--lightmode-slate-gray-solid-11);
    --icon-disabled: var(--lightmode-slate-gray-solid-9);
    --icon-highlight: var(--lightmode-violet-solid-10);
    --icon-interactive: var(--lightmode-indigo-solid-11);
    --icon-subdued: var(--lightmode-slate-gray-solid-10);
    --icon-success: var(--lightmode-green-solid-10);
    --icon-warning: var(--lightmode-amber-solid-10);

    --surface-critical: var(--lightmode-red-solid-2);
    --surface-default: var(--lightmode-pure-white);
    --surface-highlight-default: var(--lightmode-violet-solid-4);
    --surface-highlight-subdued: var(--lightmode-violet-solid-2);
    --surface-interactive: var(--lightmode-blue-solid-2);
    --surface-selected: var(--lightmode-blue-solid-2);
    --surface-subdued: var(--lightmode-slate-gray-solid-2);
    --surface-success: var(--lightmode-green-solid-2);
    --surface-warning: var(--lightmode-amber-solid-2);

    --text-critical: var(--lightmode-red-solid-11);
    --text-default: var(--lightmode-slate-gray-solid-12);
    --text-disabled: var(--lightmode-slate-gray-solid-9);
    --text-highlight: var(--lightmode-violet-solid-11);
    --text-interactive: var(--lightmode-blue-solid-11);
    --text-on-bg: var(--lightmode-pure-white);
    --text-subdued: #3E4346FF;
    --text-success: var(--lightmode-green-solid-11);
    --text-warning: var(--lightmode-amber-solid-11);

    --border-radius-0: var(--space-0);
    --border-radius-05: var(--space-05);
    --border-radius-1: var(--space-1);
    --border-radius-2: var(--space-2);
    --border-radius-3: var(--space-3);
    --border-radius-4: var(--space-4);
    --border-radius-5: var(--space-5);
    --border-radius-6: 24px;
    --border-radius-full: 9999px;

    --border-width-1: var(--space-025);
    --border-width-2: var(--space-05);
    --border-width-4: var(--space-1);

    --lightmode-pure-black: #000000FF;
    --lightmode-pure-white: #FFFFFFFF;
    --lightmode-amber-alpha-1: #C0820504;
    --lightmode-amber-alpha-10: #FF9500E3;
    --lightmode-amber-alpha-11: #AB5300F9;
    --lightmode-amber-alpha-12: #481800F6;
    --lightmode-amber-alpha-2: #FFAB0212;
    --lightmode-amber-alpha-3: #FFBB012A;
    --lightmode-amber-alpha-4: #FFB70043;
    --lightmode-amber-alpha-5: #FFB3005D;
    --lightmode-amber-alpha-6: #FFA20179;
    --lightmode-amber-alpha-7: #EC8D009C;
    --lightmode-amber-alpha-8: #EA8900D4;
    --lightmode-amber-alpha-9: #FFA600DB;
    --lightmode-amber-solid-1: #FEFDFBFF;
    --lightmode-amber-solid-10: #FFA01CFF;
    --lightmode-amber-solid-11: #AD5700FF;
    --lightmode-amber-solid-12: #4E2009FF;
    --lightmode-amber-solid-2: #FFF9EDFF;
    --lightmode-amber-solid-3: #FFF4D5FF;
    --lightmode-amber-solid-4: #FFECBCFF;
    --lightmode-amber-solid-5: #FFE3A2FF;
    --lightmode-amber-solid-6: #FFD386FF;
    --lightmode-amber-solid-7: #F3BA63FF;
    --lightmode-amber-solid-8: #EE9D2BFF;
    --lightmode-amber-solid-9: #FFB224FF;
    --lightmode-blue-alpha-1: #0582FF04;
    --lightmode-blue-alpha-10: #0080F1F9;
    --lightmode-blue-alpha-11: #0066DBF9;
    --lightmode-blue-alpha-12: #002149F9;
    --lightmode-blue-alpha-2: #0582FF0A;
    --lightmode-blue-alpha-3: #0280FF12;
    --lightmode-blue-alpha-4: #0180FF1E;
    --lightmode-blue-alpha-5: #0180EF30;
    --lightmode-blue-alpha-6: #0177E648;
    --lightmode-blue-alpha-7: #0077DF69;
    --lightmode-blue-alpha-8: #0082E6A1;
    --lightmode-blue-alpha-9: #0091FFF9;
    --lightmode-blue-solid-1: #FBFDFFFF;
    --lightmode-blue-solid-10: #0081F1FF;
    --lightmode-blue-solid-11: #006ADCFF;
    --lightmode-blue-solid-12: #00254DFF;
    --lightmode-blue-solid-2: #F5FAFFFF;
    --lightmode-blue-solid-3: #EDF6FFFF;
    --lightmode-blue-solid-4: #E1F0FFFF;
    --lightmode-blue-solid-5: #CEE7FEFF;
    --lightmode-blue-solid-6: #B7D9F8FF;
    --lightmode-blue-solid-7: #96C7F2FF;
    --lightmode-blue-solid-8: #5EB0EFFF;
    --lightmode-blue-solid-9: #0091FFFF;
    --lightmode-green-alpha-1: #05C04304;
    --lightmode-green-alpha-10: #008346D6;
    --lightmode-green-alpha-11: #006B3BE7;
    --lightmode-green-alpha-12: #002012EA;
    --lightmode-green-alpha-2: #00C43B0D;
    --lightmode-green-alpha-3: #02BA3C16;
    --lightmode-green-alpha-4: #01A63522;
    --lightmode-green-alpha-5: #009B3633;
    --lightmode-green-alpha-6: #0193364B;
    --lightmode-green-alpha-7: #008C3D6D;
    --lightmode-green-alpha-8: #00934CA4;
    --lightmode-green-alpha-9: #008F4ACF;
    --lightmode-green-solid-1: #FBFEFCFF;
    --lightmode-green-solid-10: #299764FF;
    --lightmode-green-solid-11: #18794EFF;
    --lightmode-green-solid-12: #153226FF;
    --lightmode-green-solid-2: #F2FCF5FF;
    --lightmode-green-solid-3: #E9F9EEFF;
    --lightmode-green-solid-4: #DDF3E4FF;
    --lightmode-green-solid-5: #CCEBD7FF;
    --lightmode-green-solid-6: #B4DFC4FF;
    --lightmode-green-solid-7: #92CEACFF;
    --lightmode-green-solid-8: #5BB98CFF;
    --lightmode-green-solid-9: #30A46CFF;
    --lightmode-indigo-alpha-1: #05058202;
    --lightmode-indigo-alpha-10: #002CBDC5;
    --lightmode-indigo-alpha-11: #00259ECB;
    --lightmode-indigo-alpha-12: #000E3AEF;
    --lightmode-indigo-alpha-2: #054CFF07;
    --lightmode-indigo-alpha-3: #0144FF0F;
    --lightmode-indigo-alpha-4: #0247F519;
    --lightmode-indigo-alpha-5: #023CEB26;
    --lightmode-indigo-alpha-6: #013DE439;
    --lightmode-indigo-alpha-7: #0038E051;
    --lightmode-indigo-alpha-8: #0134DB72;
    --lightmode-indigo-alpha-9: #0031D2C1;
    --lightmode-indigo-solid-1: #FDFDFEFF;
    --lightmode-indigo-solid-10: #3A5CCCFF;
    --lightmode-indigo-solid-11: #3451B2FF;
    --lightmode-indigo-solid-12: #101D46FF;
    --lightmode-indigo-solid-2: #F8FAFFFF;
    --lightmode-indigo-solid-3: #F0F4FFFF;
    --lightmode-indigo-solid-4: #E6EDFEFF;
    --lightmode-indigo-solid-5: #D9E2FCFF;
    --lightmode-indigo-solid-6: #C6D4F9FF;
    --lightmode-indigo-solid-7: #AEC0F5FF;
    --lightmode-indigo-solid-8: #8DA4EFFF;
    --lightmode-indigo-solid-9: #3E63DDFF;
    --lightmode-red-alpha-1: #FF050503;
    --lightmode-red-alpha-10: #D10007C2;
    --lightmode-red-alpha-11: #C30007D4;
    --lightmode-red-alpha-12: #280003EC;
    --lightmode-red-alpha-2: #FF050508;
    --lightmode-red-alpha-3: #FF010110;
    --lightmode-red-alpha-4: #FF00001A;
    --lightmode-red-alpha-5: #F2000027;
    --lightmode-red-alpha-6: #E4010139;
    --lightmode-red-alpha-7: #D9000451;
    --lightmode-red-alpha-8: #D100046F;
    --lightmode-red-alpha-9: #DB0007B7;
    --lightmode-red-solid-1: #FFFCFCFF;
    --lightmode-red-solid-10: #DC3D43FF;
    --lightmode-red-solid-11: #CD2B31FF;
    --lightmode-red-solid-12: #381316FF;
    --lightmode-red-solid-2: #FFF8F8FF;
    --lightmode-red-solid-3: #FFEFEFFF;
    --lightmode-red-solid-4: #FFE5E5FF;
    --lightmode-red-solid-5: #FDD8D8FF;
    --lightmode-red-solid-6: #F9C6C6FF;
    --lightmode-red-solid-7: #F3AEAFFF;
    --lightmode-red-solid-8: #EB9091FF;
    --lightmode-red-solid-9: #E5484DFF;
    --lightmode-slate-gray-alpha-1: #05448204;
    --lightmode-slate-gray-alpha-10: #00101B81;
    --lightmode-slate-gray-alpha-11: #000E1897;
    --lightmode-slate-gray-alpha-12: #00080CEE;
    --lightmode-slate-gray-alpha-2: #05294D07;
    --lightmode-slate-gray-alpha-3: #0025490E;
    --lightmode-slate-gray-alpha-4: #021C3713;
    --lightmode-slate-gray-alpha-5: #02173519;
    --lightmode-slate-gray-alpha-6: #01213920;
    --lightmode-slate-gray-alpha-7: #001A3328;
    --lightmode-slate-gray-alpha-8: #011E323E;
    --lightmode-slate-gray-alpha-9: #00111E77;
    --lightmode-slate-gray-solid-1: #FBFCFDFF;
    --lightmode-slate-gray-solid-10: #7E868CFF;
    --lightmode-slate-gray-solid-11: #687076FF;
    --lightmode-slate-gray-solid-12: #11181CFF;
    --lightmode-slate-gray-solid-2: #F8F9FAFF;
    --lightmode-slate-gray-solid-3: #F1F3F5FF;
    --lightmode-slate-gray-solid-4: #ECEEF0FF;
    --lightmode-slate-gray-solid-5: #E6E8EBFF;
    --lightmode-slate-gray-solid-6: #DFE3E6FF;
    --lightmode-slate-gray-solid-7: #D7DBDFFF;
    --lightmode-slate-gray-solid-8: #C1C8CDFF;
    --lightmode-slate-gray-solid-9: #889096FF;
    --lightmode-violet-alpha-1: #5805AB03;
    --lightmode-violet-alpha-10: #1F00A5B0;
    --lightmode-violet-alpha-11: #180091B9;
    --lightmode-violet-alpha-12: #0E003DEC;
    --lightmode-violet-alpha-2: #3705FF05;
    --lightmode-violet-alpha-3: #3C00FF0D;
    --lightmode-violet-alpha-4: #2E02F416;
    --lightmode-violet-alpha-5: #2F01E821;
    --lightmode-violet-alpha-6: #2A01DF30;
    --lightmode-violet-alpha-7: #2B01D447;
    --lightmode-violet-alpha-8: #2A00D066;
    --lightmode-violet-alpha-9: #2500B6A9;
    --lightmode-violet-solid-1: #FDFCFEFF;
    --lightmode-violet-solid-10: #644FC1FF;
    --lightmode-violet-solid-11: #5746AFFF;
    --lightmode-violet-solid-12: #20134BFF;
    --lightmode-violet-solid-2: #FBFAFFFF;
    --lightmode-violet-solid-3: #F5F2FFFF;
    --lightmode-violet-solid-4: #EDE9FEFF;
    --lightmode-violet-solid-5: #E4DEFCFF;
    --lightmode-violet-solid-6: #D7CFF9FF;
    --lightmode-violet-solid-7: #C4B8F3FF;
    --lightmode-violet-solid-8: #AA99ECFF;
    --lightmode-violet-solid-9: #6E56CFFF;
    --space-0: 0px;
    --space-025: 1px;
    --space-05: 2px;
    --space-1: 4px;
    --space-10: 40px;
    --space-12: 48px;
    --space-16: 64px;
    --space-2: 8px;
    --space-20: 80px;
    --space-24: 96px;
    --space-3: 12px;
    --space-32: 128px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-8: 32px;
  }