$breakpoints-sm-up: '(min-width: 30.625em)';
$breakpoints-sm-down: '(max-width: 30.6225em)';

$breakpoints-md-up: '(min-width: 48em)';
$breakpoints-md-down: '(max-width: 47.9975em)';

$breakpoints-lg-up: '(min-width: 65em)';

$breakpoints-xl-up: '(min-width: 90em)';
