.DatasetPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ProgressWrapper {
  padding-right: var(--space-6);
}

.Progress {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  justify-content: space-between;
  padding-block: var(--space-5);
  border-bottom: var(--border-divider);

  .ProgressNav {
    display: flex;
    align-items: center;
    gap: var(--space-4);

    > span:first-child {
      width: 32px;
      height: 32px;
    }
  }
}

.ContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  > span:first-child {
    width: 72px;
    height: 72px;
  }
}
