.Main {
  flex-grow: 1;
  transition: transform var(--duration-400) ease 0s;
}

.IndicatorBtn {
  display: inline-flex;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  border-radius: 40px;
  padding: 12px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.IndicatorBtnText {
  max-width: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-transition:
    color 0.25s 1.5s,
    max-width 2s;
  transition:
    color ease-in-out 500ms,
    max-width ease-in-out 500ms;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.AccordionItem {
  font-family: inherit;
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none !important;

  &[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
  }
}
