.Main {
  flex-grow: 1;
  transition: transform var(--duration-400) ease 0s;
}

.FactorList {
  @media (max-width: 1280px) {
    overflow: hidden;
    height: 200px;
    &:hover {
      overflow-y: auto;
    }
  }
}

.IndicatorBtn {
  display: inline-flex;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  border-radius: 40px;
  padding: 12px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.IndicatorBtnText {
  max-width: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-transition:
    color 0.25s 1.5s,
    max-width 2s;
  transition:
    color ease-in-out 500ms,
    max-width ease-in-out 500ms;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.AccordionItem {
  font-family: inherit;
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none !important;

  &[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
  }
}

.Box {
  height: 280px;
  overflow-y: scroll;

  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.SidebarAccordionTitle {
  display: flex;
  padding: 8px 4px;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-radius: 4px 4px 0px 0px;
  background: rgba(150, 231, 158, 0.2);
}

.SidebarAccordionIcon {
  font-family: inherit;
  cursor: pointer;
  height: 25px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(150, 231, 158, 0.02);
  border: none !important;

  &[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
  }
}

.TabItem {
  --active-color: rgba(150, 231, 158, 0.5);
  --active-border-color: #479c4f;

  background: none;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 10px;
}

.TabItem:hover {
  border-color: var(--active-border-color);
  color: var(--active-border-color);
}

.TabItemActive,
.TabItemActive:hover {
  border-color: var(--active-border-color);
  background-color: var(--active-color);
  color: #202223;
}
