.base {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-100);
  line-height: var(--font-line-height-2);
  display: block;
  width: 100%;
}

.error {
  color: var(--color-error);
}

.disabled {
  color: var(--text-disabled);
}
