.Item {
  transition: background-color var(--duration-200) var(--ease-in-out);
  &:hover {
    background-color: var(--background-selected);
  }
}

.Selected {
  background-color: var(--background-selected);

  svg {
    color: var(--icon-decorative-four);
  }
}

.Collapse {
  transition: grid-template-columns var(--duration-300) var(--ease-in-out);
}

.CollapseText {
  transition: opacity var(--duration-200) ease-in-out;
  white-space: nowrap;
}
