@import '../../../styles/common';

.Calendar {
  max-width: 290px;
  padding: var(--space-5);
  background-color: var(--surface);
  box-shadow: var(--shadow-popover);
  border-radius: var(--border-radius-2);

  table {
    width: 100%;
  }
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin: 0 8px;

  button {
    @include unstyled-button;
    @include focus-ring;
    &:focus-visible:not(:active) {
      @include focus-ring($style: 'focused');
      outline: var(--border-width-3) solid transparent;
    }

    border-radius: var(--border-radius-1);
    padding: var(--space-05) var(--space-1);
    transition: background-color var(--duration-100) var(--ease-in-out);

    &:hover {
      background-color: var(--surface-hovered);
    }

    &:active {
      background-color: var(--surface-pressed) !important;
    }
  }
}

.Cell {
  cursor: default;
  text-align: center;
  border-radius: var(--border-radius-1);
  padding: var(--space-1) var(--space-2);
  transition: background-color var(--duration-100) var(--ease-in-out);

  &:hover:not(.Disabled, .Selected, .Unavailable) {
    background-color: var(--surface-hovered);
  }

  &.Today {
    border-radius: var(--border-radius-half);
    background-color: var(--surface-pressed);
  }

  &.Selected {
    background-color: var(--interactive);
    border-radius: var(--border-radius-1);
    > span {
      color: var(--text-on-interactive);
    }

    &.HighlightedRange {
      background-color: var(--surface-selected);

      > span {
        color: var(--text);
      }
    }

    &.SelectionStart {
      border-radius: var(--border-radius-6) 0px 0px var(--border-radius-6);
      background-color: var(--interactive);
      > span {
        color: var(--text-on-interactive);
      }
    }

    &.SelectionEnd {
      border-radius: 0px var(--border-radius-6) var(--border-radius-6) 0px;
      background-color: var(--interactive);
      > span {
        color: var(--text-on-interactive);
      }
    }

    &.SelectionStart.SelectionEnd {
      border-radius: var(--border-radius-6);
    }
  }

  &.Unavailable {
    > span {
      color: var(--text-critical);
    }
  }

  &.Disabled {
    > span {
      color: var(--text-disabled);
    }
  }
}

.Weeks {
  > th {
    padding: var(--space-2);
  }
}
