@import "../../../styles/common";

.ActionList {
  box-shadow: var(--shadow-element-popover);
  width: fit-content;
  border-radius: var(--border-radius-2);
  background-color: var(--surface-default);
}

.Item {
  --op-action-list-image-size: 20px;
  --op-action-list-item-min-height: var(--space-10);
  --op-action-list-item-vertical-padding: calc(
    (var(--op-action-list-item-min-height) - var(--font-line-height-2)) / 2
  );
  @include unstyled-button;
  @include focus-ring;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: var(--op-action-list-item-min-height);
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  padding: var(--op-action-list-item-vertical-padding) var(--space-2);
  border-radius: var(--border-radius-1);
  border-top: var(--border-width-1) solid transparent;
  color: inherit;
  font-size: var(--font-size-100);

  @media (forced-colors: active) {
    border: var(--border-width-1) solid transparent;
  }

  &:hover {
    background-color: var(--action-secondary-neutral-hovered);
    text-decoration: none;
    outline: var(--border-width-2) solid transparent;
  }

  &:active {
    background-color: var(--action-secondary-interactive-default);

    svg {
      color: var(--icon-interactive);
    }
  }

  &:focus-visible:not(:active),
  &[data-focus-visible] {
    @include focus-ring($style: "focused");
    outline: var(--border-width-2) solid transparent;
  }

  &:visited {
    color: inherit;
  }

  &.active,
  &[aria-selected="true"] {
    background-color: var(--surface-selected);

    svg {
      color: var(--icon-interactive);
    }

    &::before {
      @include list-selected-indicator;
    }
  }

  &.destructive {
    color: var(--interactive-critical);

    svg {
      color: var(--icon-critical);
    }

    &:hover {
      background-color: var(--action-secondary-critical-default);
    }

    &:active,
    &.active {
      background-color: var(--action-secondary-critical-pressed);
    }
  }

  &.disabled {
    background-image: none;
    color: var(--text-disabled);

    .Prefix svg,
    .Suffix svg {
      color: var(--icon-disabled);
    }
  }
}

.Prefix {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  height: var(--op-action-list-image-size);
  width: var(--op-action-list-image-size);
  border-radius: var(--border-radius-1);

  // We need the negative margin to ensure that the image does not set
  // the minimum height of the action item.
  margin: calc(-0.5 * var(--op-action-list-image-size)) 0
    calc(-0.5 * var(--op-action-list-image-size)) 0;
  background-size: cover;
  background-position: center center;

  svg {
    color: var(--icon-default);
  }
}

.Suffix svg {
  color: var(--icon-default);
}

.Text {
  min-width: 0;
  max-width: 100%;
  flex: 1 1 auto;
}
