@import '../../../styles/common';

.InlineError {
  display: flex;
  color: var(--text-color);
  fill: var(--icon-color);
  font-size: var(--font-size-100);
  align-items: center;
}

.Icon {
  fill: currentColor;
  margin-right: var(--space-1);
  line-height: 0;
}
