.base {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-100);
  line-height: var(--font-line-height-2);
  display: block;
  width: 100%;
  width: fit-content;
}

.error {
  color: var(--color-error);
}

.disabled {
  color: var(--text-disabled);
}

.RequiredIndicator::after {
  content: '*';
  color: var(--text-critical);
  margin-left: var(--space-1);
}
